@page "/CharacteristicCard/{Page}/{transactionalItemId}/{characteristicPair}"
@page "/CharacteristicCard/{Page}/{transactionalItemId}"
@using Syncfusion.Blazor.Popups
@using SunttelTradePointB.Shared.Common
@inject NavigationManager Navigation
@inject TransactionalItemsService transactionalService;


@if (@viewMsg)
{
    <MessageSaveComponent isVisible="viewMsg" message="@msg">
    </MessageSaveComponent>
}

<PageTitleComponent Title="@GetName("TransactionalItemTypeCharacteristics", new TransactionalItemType())" IconName="characteristics.png"
                    Description="@($"Here you can add {GetName("TransactionalItemTypeCharacteristics", new TransactionalItemType())}")">
</PageTitleComponent>

<div id="add-recipe">
    <div class="flex-horizontal-center">
        <div class="grid-columns-2 box-shadow-mode">

            <div>
                <label>
                    @GetName( "ItemCharacteristics", new TransactionalItem())
                </label>
            </div>
            <div>
                <InputTextSelector3 TItem="TransactionalItemTypeCharacteristic"
                                    Id="@GetName( "ItemCharacteristics", new TransactionalItem())"
                                    EventClosed="ClosedInput"
                                    EventSearcherValueAndId="EventSearcherValueAndId"
                                    Items="transactionalItemTypeCharacteristics"
                                    caption="@(transactionalItemTypeCharacteristic != null ? transactionalItemTypeCharacteristic.Name : "")">

                </InputTextSelector3>
            </div>
            <div><label> @GetName("Value", new TransactionalItemCharacteristicPair()) </label></div>
            <div>
                <select @bind="transactionalItemCharacteristicPair.Value" class="form-control">
                    @foreach (var item in possibleValues)
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </select>
            </div>
            <div>
            </div>
            <div class="flex-horizontal-end">
                <button @onclick='()=>Closed("control")' class="size-btn color-btn"><i class="fa-sharp fa-solid fa-circle-arrow-left color-hover"></i></button>
                <button @onclick="Save" class="size-btn color-btn"><i class="fa-regular fa-floppy-disk color-hover "></i></button>
            </div>
        </div>
    </div>
</div>



@code {
    [Parameter]
    public string transactionalItemId { get; set; }
    [Parameter]
    public string characteristicPair { get; set; }
    [Parameter]
    public string Page { get; set; }
    [Parameter]
    public string SubPage { get; set; }


    public List<TransactionalItemCharacteristicPair> transactionalItemCharacteristicPairs = new();
    public TransactionalItemCharacteristicPair transactionalItemCharacteristicPair = new();
    List<TransactionalItemTypeCharacteristic> transactionalItemTypeCharacteristics = new();
    TransactionalItemTypeCharacteristic transactionalItemTypeCharacteristic = new();

    public List<TransactionalItemCharacteristic> possibleValues = new();

    bool viewMsg = false;
    string msg = "";
    int status = 0;
    public int ParamCountResul = 0;
    bool ViewPopupCount = false;
    string ModeSearcher = "";


    #region TileName
    public string Title { get; set; }
    public string Value { get; set; }
    #endregion TitleName

    protected async override void OnInitialized()
    {
        var transactionalItems = await transactionalService.GetTransactionalItemById(transactionalItemId);
        transactionalItemTypeCharacteristics = new();
        if (transactionalItems != null)
        {
            ConceptType type = transactionalItems.TypeOfConcept != null ? transactionalItems.TypeOfConcept : null;
            if (type != null)
            {
                var itemTypes = await transactionalService.GetTransactionalItemTypes(type.Name);
                var resul = itemTypes.Where(s => s.Id == type.Id).FirstOrDefault();
                if (resul != null)
                {
                    transactionalItemTypeCharacteristics = resul.TransactionalItemTypeCharacteristics != null ? resul.TransactionalItemTypeCharacteristics : new();

                }

            }
        }
    }

    private async void Save()
    {

        var resul = await transactionalService.SaveCharacteristics(transactionalItemId, transactionalItemCharacteristicPair);
        if (resul)
        {
            MsgOpen("Saved", 0);
            StateHasChanged();
        }
        else
        {
            MsgOpen("No saved", 1);
        }

    }

    public async Task Refresh()
    {
        //ReferInputTextSelector.Refresh();
        StateHasChanged();
    }

    public async Task Closed(string Element)
    {
        if (Element == "control") Navigation.NavigateTo($"/TransactionalItemCard/{transactionalItemId}");
    }

    protected async void EventIdSelection(string SelectedId)
    {
        transactionalItemTypeCharacteristic = transactionalItemTypeCharacteristics.Where(c => c.Name == SelectedId || c.Id == SelectedId).FirstOrDefault();
        if (transactionalItemTypeCharacteristic == null) transactionalItemTypeCharacteristic = new();
        ParamCountResul = 0;

        ViewPopupCount = false;

        if (transactionalItemTypeCharacteristics != null)
        {
            var characteristic = transactionalItemTypeCharacteristics.Where(s => s.Id != null && s.Id.Trim() == SelectedId.Trim()).FirstOrDefault();
            if (characteristic != null) possibleValues = characteristic.PossibleValues != null ? characteristic.PossibleValues : new();
            StateHasChanged();
        }

        await Refresh();
    }

    protected async void EventSearcherValueAndId((string value, string IdControl) arg)
    {
        ViewPopupCount = true;

        if (ModeSearcher == GetName("ItemCharacteristics", new TransactionalItem()))
        {

            var transactionalItem = await transactionalService.GetTransactionalItemById(transactionalItemId);
            transactionalItemTypeCharacteristics = new();
            if (transactionalItem != null)
            {
                  
                if (transactionalItem.TypeOfConcept != null)
                {
                    var itemTypes = await transactionalService.GetTransactionalItemTypes(transactionalItem.TypeOfConcept.Name);
                    var resul = itemTypes.Where(s => s.Id == transactionalItem.TypeOfConcept.Id).FirstOrDefault();
                    if (!arg.value.ToLower().Contains("all") && !arg.value.ToLower().Contains("todo"))
                    {
                        transactionalItemTypeCharacteristics = resul.TransactionalItemTypeCharacteristics.Where(s => s.Name.ToLower().Contains(arg.value.ToLower())).ToList();
                    }
                    else
                    {
                        transactionalItemTypeCharacteristics = resul.TransactionalItemTypeCharacteristics;
                    }
                }
            }


            if (transactionalItemTypeCharacteristics != null)
            {

                ParamCountResul = transactionalItemTypeCharacteristics.Count();
                ViewPopupCount = ParamCountResul > 0;
            }
            else
            {
                ViewPopupCount = false;
                ParamCountResul = 0;
            }
        }
        await Refresh();
    }


    public void ClosedInput()
    {
        ViewPopupCount = false;
    }

    public string GetName(string Name, Object Obj)
    {
        if (UICommonFunctions.GetDisplayName(Obj, Name)!=null) Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }

    public void MsgOpen(string _msg, int _status)
    {
        viewMsg = true;
        msg = _msg;
        status = _status;
    }


}
