@page "/ProductModelCard/{transactionalItemId}"
@page "/ProductModelCard/{transactionalItemId}/{productModelId}"

@using Syncfusion.Blazor.Popups
@using SunttelTradePointB.Shared.Common
@inject TransactionalItemsService transactionalService;
@inject NavigationManager Navigation




@if (@viewMsg)
{
    <MessageSaveComponent isVisible="viewMsg" message="@msg">
    </MessageSaveComponent>
}

<PageTitleComponent Title="@GetName("ModelRecipe", new PackingSpecs())" IconName="recipeModel.png"
                    Description="Here you can add tags">
</PageTitleComponent>



<div class="flex-horizontal-center">
    <div class="grid-columns-2  box-shadow-mode">
        <div><label class="info-text-size">@GetName("Name",new AtomConcept())</label></div>
        <div><input @bind-value="productModel.Name" class="form-control info-text-size" placeholder="Edit value" /></div>
        <div>
            <label class="info-text-size">@GetName("Code",new AtomConcept())</label>
        </div>
        <div><input @bind-value="productModel.Code" class="form-control info-text-size" placeholder="Edit value" /></div>
        <div>
            <label>@GetName("Description",new ProductModel())</label>
        </div>
        <div><input @bind-value="productModel.Description" class="form-control info-text-size" placeholder="Edit value" /></div>
        <div>
            <label class="info-text-size">@GetName("Notes",new AtomConcept())</label>
        </div>
        <div><input @bind-value="productModel.Notes" class="form-control info-text-size" placeholder="Edit value" /></div>
        <div></div>
        <div class="flex-horizontal-end">
            <button @onclick='()=>Closed("control")' class="size-btn color-btn"><i class="fa-sharp fa-solid fa-circle-arrow-left color-hover"></i></button>
            <button @onclick="Save" class="size-btn color-btn"><i class="fa-regular fa-floppy-disk color-hover "></i></button>
        </div>
    </div>

</div>




@code {
    [Parameter]
    public string transactionalItemId { get; set; }
    [Parameter]
    public string productModelId { get; set; }
    ProductModel productModel = new();
    bool viewMsg = false;
    string msg = "";
    int status = 0;

    protected async override Task OnInitializedAsync()
    {
        if (transactionalItemId != null && productModelId !=null)
        {
            productModel = await transactionalService.GetProductModelById( productModelId);
        }

        if (transactionalItemId == null)
        {
            productModel = new();
        }


    }


    public async void Save()
    {
        if (productModel.Name != null)
        {
            var resul = await transactionalService.SaveTransactionalItemModels(transactionalItemId, productModel);
            if (resul)
            {
                Msg("Saved", 1);
            }
            else
            {
                Msg("No saved", 1);
            }
            StateHasChanged();
        }

    }



    public async Task Closed(string Element)
    {
        if (Element == "control") Navigation.NavigateTo($"/TransactionalItemCard/{transactionalItemId}");

    }

    public string GetName(string Name, Object Obj)
    {
        Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }

    void Msg(string _msg, int _status)
    {
        viewMsg = true;
        msg = _msg;
        status = _status;
    }
}
