@page "/Shipping"
@page "/Shipping/{_filterItems}"


@using System.Globalization;
@using SunttelTradePointB.Shared.Sales;
@inject SunttelTradePointB.Client.Services.ShippingServices.ShippingServices ShippingServices
@inject ContextMenuService ContextMenuService
@inject NavigationManager Navigation

<style>
    .rz-datatable-data td .rz-cell-data, .rz-grid-table td .rz-cell-data {
        font-size: 9px;
    }

    .rz-datatable-thead th .rz-column-title-content, .rz-grid-table thead th .rz-column-title-content{
        font-size: 9px;
    }
</style>

<PageTitleComponent Title="Shipping" IconName="commercialActivities.png"
                    Description="With this tool you can create and edit Sales operations such as Orders and Invoices">
</PageTitleComponent>

<div class="panelMenuContainer">
    <ShippingMenu></ShippingMenu>
    <SearchComponent @bind-FilterTextSet="@docsFilter"></SearchComponent>

</div>
<div class="panelMenuContainer aling">
    <ShippingMenu2 SetWarehouse="Setwarehouse"></ShippingMenu2>
    <RangeDatesInput @bind-StartDate="@startingDate"
                     StartDateName="Date"
                     EventSearchAll="EventSearchAll"></RangeDatesInput>
</div>


<div class="tableContainer">


    @if (isLoading)
    {

        <WaitingProcessIndicator loadingTopic="Shipping"></WaitingProcessIndicator>

    }
    else
    {

        <RadzenDataGrid AllowFiltering="true"
                    AllowColumnResize="true"
                    AllowAlternatingRows="true"
                    FilterMode="FilterMode.Advanced"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    AllowSorting="true"
                    PageSize="50"
                    AllowPaging="true"
                    PagerHorizontalAlign="Radzen.HorizontalAlign.Left"
                    ShowPagingSummary="true"
                    Data="@commercialdocumentList"
                    TItem="CommercialDocument"
                    ColumnWidth="300px"
                    SelectionMode="DataGridSelectionMode.Single"
                    LogicalFilterOperator="LogicalFilterOperator.Or"
                    @bind-Value="@selectedcommercialdocuments"
                    CellContextMenu="@ShowContextMenuCommercialDocument">
            <Columns>

                <RadzenDataGridColumn TItem="CommercialDocument" Property="DocumentNumber" Title="@GetName("DocumentNumber", new CommercialDocument() )" Width="108px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="ShipDate" Title="Ship Date" FormatString="{0:MM/dd/yyyy}" Filterable="false" Width="100px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="DeliveryDate" FormatString="{0:MM/dd/yyyy}" Title="Delivery Date" Filterable="false" Width="100px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="Buyer.Name" Title="Customer" Width="200px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Title="@GetName("PickingTicketPrinted", new SalesDocumentPrintingSatus() )" Sortable="false" Width="100px">
                    <Template Context="Item">
                        <RadzenCheckBox @bind-Value="Item.PrintingSatus.PickingTicketPrinted" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="CommercialDocument" Property="PrintingSatus.LabelsPrinted" Title="@GetName("LabelsPrinted", new SalesDocumentPrintingSatus() )" Sortable="false" Width="100px">
                    <Template Context="Item">
                        <RadzenCheckBox @bind-Value="Item.PrintingSatus.LabelsPrinted" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="CommercialDocument" Property="PrintingSatus.BillOfLandingPrinted" Title="@GetName("BillOfLandingPrinted", new SalesDocumentPrintingSatus() )" Sortable="false" Width="100px">
                    <Template Context="Item">
                        <RadzenCheckBox @bind-Value="Item.PrintingSatus.BillOfLandingPrinted" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="CommercialDocument" Property="ShippingStatusDocument.Name" Title="@GetName("ShippingStatusDocument", new CommercialDocument() )" Width="100px" Filterable="false" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="FinanceStatusDocument.Name" Title="@GetName("FinanceStatusDocument", new CommercialDocument() )" Filterable="false" Width="100px" />
               
            </Columns>
        </RadzenDataGrid>
        <div class="container-total">
            <div class="item"><b>@GetName(nameof(CommercialDocument.FinanceSummary.TotalTaxes), new CommercialDocument()):@SumTotal("TotalTaxes")</b> </div>
            <div class="item"><b>@GetName(nameof(CommercialDocument.FinanceSummary.TotalAmount), new CommercialDocument()):@SumTotal("TotalAmount")</b> </div>
            <div class="item"><b>@GetName(nameof(CommercialDocument.FinanceSummary.TotalDiscounts), new CommercialDocument()):@SumTotal("TotalDiscounts")</b> </div>
            <div class="item"><b>@GetName(nameof(CommercialDocument.FinanceSummary.TotalCosts), new CommercialDocument()):@SumTotal("TotalCosts")</b> </div>

        </div>

    }
</div>



@code {

    [Parameter]
    public string _filterItems { get; set; }
    List<CommercialDocument>? commercialdocumentList { get; set; }

    public Warehouse warehouse { get; set; }
    IList<CommercialDocument>? selectedcommercialdocuments;

    bool isLoading = false;

    DateTime startingDate = DateTime.Now, endDate = DateTime.Now.AddMonths(1);

    public string docsFilter
    {
        get { return _filterItems; }
        set
        {
            _filterItems = value;
            LoadData();
        }
    }

    protected async override void OnInitialized()
    {


        if (_filterItems != null) LoadData();
        base.OnInitialized();

    }

    public async void LoadData()
    {
        isLoading = true;
        if (warehouse != null)
        {
            commercialdocumentList = await ShippingServices.GetShippingtList(startingDate, startingDate, warehouse.Id, (_filterItems != null ? _filterItems : "all"), 1, 20);

        }
        isLoading = false;

        StateHasChanged();
    }

    public void EventSearchAll(string value)
    {
        docsFilter = value;
    }

    public async void Setwarehouse(Warehouse item)
    {

        if (item != null)
        {
            warehouse = item;
        }
        StateHasChanged();
    }


    void ShowContextMenuCommercialDocument(DataGridCellMouseEventArgs<CommercialDocument> args) => ContextMenuService.Open(args, ds =>
    @<RadzenMenu Click="OnMenuItemClick">
        <RadzenMenuItem Text="View" Value=args.Data Icon="edit"></RadzenMenuItem>
    </RadzenMenu>
    );


    void OnMenuItemClick(MenuItemEventArgs args)
    {
        CommercialDocument argObj = (CommercialDocument)args.Value;
        Console.WriteLine($"Menu item with Value={argObj.Id} clicked");
        Navigation.NavigateTo($"ShippingItem/{argObj.Id}");
        if (!args.Value.Equals(3) && !args.Value.Equals(4))
        {
            ContextMenuService.Close();
        }
    }

    public void SetdocsFilter(string value)
    {
        docsFilter = value;
        StateHasChanged();
    }

    public string GetName(string Name, Object Obj)
    {
        if (UICommonFunctions.GetDisplayName(Obj, Name) != null) Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }



    public string SumTotal(string name)
    {
        CultureInfo format = new CultureInfo("en-US", false);
        double value = 0;
        if (commercialdocumentList != null)
        {
            if (name == nameof(CommercialDocument.FinanceSummary.TotalTaxes)) value = commercialdocumentList.Sum(i => i.FinanceSummary.TotalTaxes);
            if (name == nameof(CommercialDocument.FinanceSummary.TotalDiscounts)) value = commercialdocumentList.Sum(i => i.FinanceSummary.TotalDiscounts);
            if (name == nameof(CommercialDocument.FinanceSummary.TotalAmount)) value = commercialdocumentList.Sum(i => i.FinanceSummary.TotalAmount);
            if (name == nameof(CommercialDocument.FinanceSummary.TotalCosts)) value = commercialdocumentList.Sum(i => i.FinanceSummary.TotalCosts);
        }

        return value.ToString("C2", format);
    }

}
