@using Syncfusion.Blazor.PivotView
@using System.Globalization;
@using SunttelTradePointB.Shared.Sales;
@using SunttelTradePointB.Shared.Sales.CommercialDocument;
@inject SunttelTradePointB.Client.Services.ShippingServices.ShippingServices ShippingServices
@inject ContextMenuService ContextMenuService
@inject NavigationManager Navigation

<style>
   .e-pivotview .e-grouping-bar .e-pivot-button, .e-pivotview .e-group-rows .e-pivot-button {
        background-color: #0d223f;
    }

        .e-pivotview .e-grouping-bar .e-pivot-button, .e-pivotview .e-group-rows .e-pivot-button:hover {
            background-color: #0d223f;
            box-shadow: 0px 0px 5px gray;
            color: black;
        }

    .e-pivotview {
        min-height: 200px;
        width: 100%;
    }
</style>


@if (isLoading)
{
    <WaitingProcessIndicator loadingTopic="Shipping"></WaitingProcessIndicator>
}
else
{
    @if (commercialdocumentViewList != null)
    {
        <SfPivotView TValue="CommercialDocumentView" Height="100%" Width="100%"
             @ref="@Pivot"
             Toolbar="@Olap"
             ShowGroupingBar="true"
             ShowFieldList=true
             ShowToolbar=true
             AllowConditionalFormatting=true
             AllowCalculatedField=true
             AllowPdfExport=true
             AllowExcelExport=true
             ShowTooltip=true>
            <PivotViewDisplayOption Primary="Primary.Table" View="View.Both"></PivotViewDisplayOption>
            <PivotViewDataSourceSettings DataSource="@commercialdocumentViewList">
                <PivotViewColumns>
                    <PivotViewColumn Name="@nameof(CommercialDocumentView.DocumentNumber)" Caption="@GetName(nameof(CommercialDocument.DocumentNumber),new CommercialDocument())"></PivotViewColumn>
                    <PivotViewColumn Name="@nameof(CommercialDocumentView.BuyerName)" Caption="@GetName(nameof(CommercialDocument.DocumentNumber),new CommercialDocument())"></PivotViewColumn>
                    <PivotViewColumn Name="@nameof(CommercialDocument.TrackingNumber)" Caption="@GetName(nameof(CommercialDocument.TrackingNumber),new CommercialDocument())"></PivotViewColumn>
                    <PivotViewColumn Name="@nameof(CommercialDocumentView.FinanceStatusDocumentName)" Caption="@GetName(nameof(CommercialDocument.FinanceStatusDocument),new CommercialDocument())"></PivotViewColumn>
                    <PivotViewColumn Name="@nameof(CommercialDocumentView.ShippingStatusDocumentName)" Caption="@GetName(nameof(CommercialDocument.ShippingStatusDocument),new CommercialDocument())"></PivotViewColumn>
                    <PivotViewColumn Name="@nameof(CommercialDocumentView.PrintingSatusBillOfLandingPrinted)" Caption="@GetName(nameof(CommercialDocument.PrintingSatus.BillOfLandingPrinted),new CommercialDocument())"></PivotViewColumn>
                    <PivotViewColumn Name="@nameof(CommercialDocumentView.PrintingSatusLabelsPrinted)" Caption="@GetName(nameof(CommercialDocument.PrintingSatus.LabelsPrinted),new CommercialDocument())"></PivotViewColumn>
                    <PivotViewColumn Name="@nameof(CommercialDocumentView.PrintingSatusPickingTicketPrinted)" Caption="@GetName(nameof(CommercialDocument.PrintingSatus.PickingTicketPrinted),new CommercialDocument())"></PivotViewColumn>
                </PivotViewColumns>
                <PivotViewRows>
                </PivotViewRows>
                <PivotViewValues>
                    <PivotViewValue Name="@nameof(CommercialDocumentView.ShippingSummaryTotalBoxes)" Caption="@GetName(nameof(CommercialDocument.ShippingSummary.TotalBoxes),new CommercialDocument())"></PivotViewValue>
                    <PivotViewValue Name="@nameof(CommercialDocumentView.ShippingSummaryTotalInInventory)" Caption="@GetName(nameof(CommercialDocument.ShippingSummary.TotalInInventory),new CommercialDocument())"></PivotViewValue>
                    <PivotViewValue Name="@nameof(CommercialDocumentView.ShippingSummaryTotalScanned)" Caption="@GetName(nameof(CommercialDocument.ShippingSummary.TotalScanned),new CommercialDocument())"></PivotViewValue>

                </PivotViewValues>
                <PivotViewFormatSettings>
                    <PivotViewFormatSetting Name="@nameof(CommercialDocumentView.ShippingSummaryTotalBoxes)" Format="N2" UseGrouping=true></PivotViewFormatSetting>
                    <PivotViewFormatSetting Name="@nameof(CommercialDocumentView.ShippingSummaryTotalInInventory)" Format="N2" UseGrouping=true></PivotViewFormatSetting>
                    <PivotViewFormatSetting Name="@nameof(CommercialDocumentView.ShippingSummaryTotalScanned)" Format="N2" UseGrouping=true></PivotViewFormatSetting>

                </PivotViewFormatSettings>
            </PivotViewDataSourceSettings>
            <PivotViewEvents TValue="CommercialDocumentView" RenameReport="RenameReport" RemoveReport="RemoveReport" SaveReport="SaveReport" LoadReport="LoadReport" FetchReport="FetchReport"></PivotViewEvents>
        </SfPivotView>
        @if (commercialdocumentList != null)
        {
            <div class="container-total">
                <div class="item">
                    <label>
                        @(
                            $"Count item : {commercialdocumentList.Count}"
                            )
                    </label>
                </div>
            </div>
        }
    }

}

@code {

    [Parameter]
    public string _filterItems { get; set; }
    [Parameter]
    public EventCallback<string> Pagehome { get; set; }
    [Parameter]
    public List<CommercialDocument>? commercialdocumentList { get; set; }
    public List<CommercialDocumentView>? commercialdocumentViewList { get; set; }

    public Warehouse warehouse { get; set; }
    IList<CommercialDocument>? selectedcommercialdocuments;
    public List<ShippingStatus> shippingStatusDocumentList = new();
    bool isLoading = true;
    string font = "12px";
    DateTime startingDate = DateTime.Now, endDate = DateTime.Now.AddMonths(1);
    RadzenDataGrid<CommercialDocument> radzenDataGrid;


    #region Pivot

    SfPivotView<CommercialDocumentView> Pivot;
    public List<ToolbarItems> Olap = new List<ToolbarItems> {
        ToolbarItems.New,
        ToolbarItems.Save,
        ToolbarItems.SaveAs,
        ToolbarItems.Rename,
        ToolbarItems.Remove,
        ToolbarItems.Load,
        ToolbarItems.Grid,
        ToolbarItems.Chart,
        ToolbarItems.MDX,
        ToolbarItems.Export,
        ToolbarItems.SubTotal,
        ToolbarItems.GrandTotal,
        ToolbarItems.ConditionalFormatting,
        ToolbarItems.FieldList,

                                            };
    public List<string> Report = new List<string>();
    public List<string> ReportName = new List<string>();

    #endregion End Pivot

 

    protected async override void OnInitialized()
    {
        isLoading = true;
        LoadData();
        base.OnInitialized();
    }

   

    public async void LoadData()
    {
        isLoading = true;
        if (commercialdocumentList != null)
        {
            commercialdocumentViewList = new List<CommercialDocumentView>();
            foreach (var item in commercialdocumentList)
            {
                commercialdocumentViewList.Add(new CommercialDocumentView
                        {
                            BuyerName = item.Buyer != null ? item.Buyer.Name : "",
                            FinanceStatusDocumentName = item.FinanceStatusDocument != null ? item.FinanceStatusDocument.Name : "",
                            ShippingStatusDocumentName = item.ShippingStatusDocument != null ? item.ShippingStatusDocument.Name : "",
                            DocumentNumber = item.DocumentNumber,
                            Id = item.Id,
                            SquadId = item.SquadId,
                            LegacyId = item.LegacyId,
                            StandingOrderId = item.StandingOrderId,
                            TrackingNumber = item.TrackingNumber,
                            PrintingSatusBillOfLandingPrinted = item.PrintingSatus != null ? item.PrintingSatus.BillOfLandingPrinted : false,
                            PrintingSatusLabelsPrinted = item.PrintingSatus != null ? item.PrintingSatus.LabelsPrinted : false,
                            PrintingSatusPickingTicketPrinted = item.PrintingSatus != null ? item.PrintingSatus.PickingTicketPrinted : false,
                            ShippingSummaryTotalScanned = item.FinanceSummary != null ? item.ShippingSummary.TotalScanned : 0,
                            ShippingSummaryTotalBoxes = item.FinanceSummary != null ? item.ShippingSummary.TotalBoxes : 0,
                            ShippingSummaryTotalInInventory = item.FinanceSummary != null ? item.ShippingSummary.TotalInInventory : 0,
                           

                        });
            }

        }
        isLoading = false;

        StateHasChanged();
    }
       

    public async void Setwarehouse(Warehouse item)
    {

        if (item != null)
        {
            warehouse = item;
        }
        StateHasChanged();
    }


    void ShowContextMenuCommercialDocument(DataGridCellMouseEventArgs<CommercialDocument> args) => ContextMenuService.Open(args, ds =>
    @<RadzenMenu Click="OnMenuItemClick">
        <RadzenMenuItem Text="View" Value=args.Data Icon="edit"></RadzenMenuItem>
    </RadzenMenu>
    );


    void OnMenuItemClick(MenuItemEventArgs args)
    {
        CommercialDocument argObj = (CommercialDocument)args.Value;
        Console.WriteLine($"Menu item with Value={argObj.Id} clicked");
        Navigation.NavigateTo($"ShippingItem/{argObj.Id}");
        if (!args.Value.Equals(3) && !args.Value.Equals(4))
        {
            radzenDataGrid.Style = " background-color: #e9e9e9;";
            ContextMenuService.Close();
        }
    }   

    public string GetName(string Name, Object Obj)
    {
        if (UICommonFunctions.GetDisplayName(Obj, Name) != null) Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }


    public string SumTotal()
    {

        double value = 0;
        string result = "";
        if (commercialdocumentList != null)
        {
            string totalBoxes = commercialdocumentList.Sum(s => s.ShippingSummary.TotalBoxes).ToString("N2");
            string totalScanned = commercialdocumentList.Sum(s => s.ShippingSummary.TotalScanned).ToString("N2");
            string totalInInventory = commercialdocumentList.Sum(s => s.ShippingSummary.TotalInInventory).ToString("N2");
            result = $"{GetName("TotalBoxes", new ShippingSalesDocumentSummary())}: {totalBoxes}       ";
            result += " , ";
            result += $"{GetName("TotalScanned", new ShippingSalesDocumentSummary())}: {totalBoxes}      ";
            result += " , ";
            result += $"{GetName("TotalInInventory", new ShippingSalesDocumentSummary())}: {totalBoxes}     ";
        }

        return result; //value.ToString("N2", format);
    }

    public void RowSelect(CommercialDocument item)
    {

    }

    public void ReLoad()
    {
        StateHasChanged();
    }

    #region EventPivot

    public void SaveReport(SaveReportArgs args)
    {
        int i = 0;
        bool IsSaved = false;
        for (i = 0; i < this.ReportName.Count; i++)
        {
            if (this.ReportName[i] == args.ReportName)
            {
                this.Report[i] = args.Report;
                IsSaved = true;
            }
        }
        if (args.Report != null && !(IsSaved))
        {
            this.Report.Add(args.Report);
            this.ReportName.Add(args.ReportName);
        }

    }
    public void FetchReport(FetchReportArgs args)
    {
        args.ReportName = ReportName.ToArray();
    }
    public async Task LoadReport(LoadReportArgs args)
    {
        int i = 0;
        int j = 0;


        for (i = 0; i < ReportName.Count; i++)
        {
            if (ReportName[i] == args.ReportName)
            {
                j = i;
            }
        }
        if (Pivot != null) await this.Pivot.LoadPersistDataAsync(Report[j]);

    }
    public async Task RemoveReport(RemoveReportArgs args)
    {
        int i = 0;
        for (i = 0; i < ReportName.Count; i++)
        {
            if (ReportName[i] == args.ReportName)
            {
                ReportName.RemoveAt(i);
                Report.RemoveAt(i);
                break;
            }
        }
        if (Report.Count > 0)
        {
            await this.Pivot.LoadPersistDataAsync(Report[0]);
        }
    }
    public void RenameReport(RenameReportArgs args)
    {
        if (args.IsReportExists)
        {
            int j = 0;
            for (j = 0; j < ReportName.Count; j++)
            {
                if (ReportName[j] == args.Rename)
                {
                    ReportName.RemoveAt(j);
                    Report.RemoveAt(j);
                    break;
                }
            }
        }
        int i = 0;
        for (i = 0; i <= (ReportName.Count - 1); i++)
        {
            if (ReportName[i] == args.ReportName)
            {
                ReportName[i] = args.Rename;

            }
        }
    }


    public class CommercialDocumentView
    {
        public string BuyerName { get; set; }
        public string SeasonName { get; set; }
        public string TrackingNumber { get; set; }
        public string SquadId { get; set; }
        public string LegacyId { get; set; }
        public int DocumentNumber { get; set; }
        public string DocumentTypeName { get; set; }
        public string StandingOrderId { get; set; }
        public DateTime ArrivalDate { get; set; }
        public string Id { get; set; }
        public bool PrintingSatusPickingTicketPrinted { get; set; }
        public bool PrintingSatusLabelsPrinted { get; set; }
        public bool PrintingSatusBillOfLandingPrinted { get; set; }
        public double ShippingSummaryTotalBoxes { get; set; }      
        public double ShippingSummaryTotalInInventory { get; set; }
        public double ShippingSummaryTotalScanned { get; set; }     
        public string ShippingStatusDocumentName { get; set; }
        public string FinanceStatusDocumentName { get; set; }
    }

    #endregion EndEventPivot


}
