@using SunttelTradePointB.Client.Interfaces.SalesInterfaces;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.SplitButtons
@using SunttelTradePointB.Shared.Sales
@using SunttelTradePointB.Shared.InvetoryModels
@inject NavigationManager Navigation
@inject ISalesDocuments DocumentServices
@inject WarehouseService warehouseService
@inject IInventory InventoryServices



<div class="aling-div ">
   
        <div>
            <label class="lblControl col-form-label">
            @GetName("CurrentWarehouse",new InventoryDetail())
            </label>
        </div>
        <div>        <select @onchange="SelectItemVendorWarehous" class="select-style">           
            @if (warehouseList != null && warehouseList.Count() > 0)
            {
                <option value="0" selected>Select</option>
            }
            @if (warehouseList != null)
            {
                @foreach (var item in warehouseList)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            }
            @if (warehouse != null)
            {
                <option value="@warehouse.Id" selected>@warehouse.Name</option>
            }
        </select>
    </div>

   

</div>


@code {
    [Parameter]
    public List<CommercialDocumentType> commercialDocumentTypeList { get; set; }
    [Parameter]
    public EventCallback<Warehouse> Setwarehouse { get; set; }
    [Parameter]
    public EventCallback changed { get; set; }
    [Parameter]
    public bool isSale { get; set; }

    List<Warehouse> warehouseList = new();
    Warehouse warehouse = new();


    void ToggleMenu()
    {
        StateHasChanged();

    }

    protected async override void OnInitialized()
    {
        commercialDocumentTypeList = await DocumentServices.GetCommercialDocumentTypes(isSale);
        warehouseList = await InventoryServices.GetWarehouseList("all");
        changed.InvokeAsync(null);
        StateHasChanged();
    }
      

    private void ItemSelected(MenuEventArgs args)
    {
        var Selected_item = args.Item.Id;
        Navigation.NavigateTo(Selected_item);
    }

    private void SetDocumentType(ChangeEventArgs args)
    {

    }

    public async void SelectItemVendorWarehous(ChangeEventArgs arg)
    {       
        Warehouse _warehouse = new Warehouse();
        _warehouse =  await warehouseService.GetWarehouseById(arg.Value.ToString());
        if (_warehouse != null)
        {       
            warehouse = _warehouse;
            Setwarehouse.InvokeAsync(_warehouse);
        }
        StateHasChanged();
    }

     public string GetName(string Name, Object Obj)
    {
        if (UICommonFunctions.GetDisplayName(Obj, Name) != null) Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }    

    private void CreateNew()
    {
        Navigation.NavigateTo("/Inventory");
    }

}


