@page "/SeasonBusinessConcept/{Page}/{filterItems}/{seasonBusinessId}"
@page "/SeasonBusinessConcept/{Page}/"
@using SunttelTradePointB.Shared.Common
@using Syncfusion.Blazor.Buttons
@inject NavigationManager Navigation
@inject TransactionalItemsService transactionalService;


@if (@viewMsg)
{
    <MessageSaveComponent isVisible="viewMsg" message="@msg">
    </MessageSaveComponent>
}

<PageTitleComponent Title=" Season Business " IconName="seasons.png"
                    Description="Here you can add  Season Business">
</PageTitleComponent>

<div class="flex-horizontal-center">
    <div class="grid-columns-2 box-shadow-mode">
        <div><label class="info-text-size">@GetName( "Name", new AtomConcept())</label></div>
        <div><input type="text" @bind-value="seasonBusiness.Name" class="form-control info-text-size" placeholder="Edit value" /></div>
        <div><label class="info-text-size" >@GetName( "Code", new AtomConcept())</label></div>
        <div><input type="text" @bind-value="seasonBusiness.Code" class="form-control info-text-size" placeholder="Edit value" /></div>
        <div><label class="info-text-size" >@GetName( "Code", new AtomConcept())</label></div>
        <div>
            <SfSwitch @bind-Checked="seasonBusiness.FlagSundayShipping"></SfSwitch>
        </div>
        <div><label class="info-text-size" >@GetName( "StartDate", new SeasonBusiness())</label></div>
        <div><input type="date" @bind-value="seasonBusiness.StartDate" class="form-control info-text-size" placeholder="Edit value" /></div>
        <div><label class="info-text-size" >@GetName( "EndDate", new SeasonBusiness())</label></div>
        <div><input type="date" @bind-value="seasonBusiness.EndDate" class="form-control info-text-size" placeholder="Edit value" /></div>

        <div></div>
        <div class="flex-horizontal-end">
            <button @onclick='()=>Closed("control")' class="size-btn color-btn"><i class="fa-sharp fa-solid fa-circle-arrow-left color-hover"></i></button>
            <button @onclick='Save' class="size-btn color-btn"><i class="fa-regular fa-floppy-disk color-hover "></i></button>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string Page { get; set; } = "";
    [Parameter]
    public string seasonBusinessId { get; set; }
    [Parameter]
    public string filterItems { get; set; } = "";
    public bool viewMsg = false;
    public string msg = ""; 

    public SeasonBusiness seasonBusiness = new();

    protected async override void OnInitialized()
    {
        if (seasonBusinessId !=null)
        {

            seasonBusiness = await transactionalService.GetSeason(seasonBusinessId);

        }
        if (seasonBusinessId ==null)
        {
            seasonBusiness = new();
        }
        StateHasChanged();
    }


    public void Closed(string value)
    {
        if (value == "control") Navigation.NavigateTo($"/{Page}/{filterItems}");
    }

    public async void Save()
    {
        var resul =  await transactionalService.SaveSeason(seasonBusiness);
        if (resul)
        {
            seasonBusiness = new();
        }
        Msg(resul);
        StateHasChanged();

    }

    private void Msg(bool mode)
    {
        msg = mode ? "Saved" : "No saved";
        viewMsg = true;
    }
    private void Msg(string? Msg)
    {
        msg = Msg;
        viewMsg = true;
    }

    public string GetName(string Name, Object Obj)
    {
        Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }
}
