@page "/StatusConcept/{Page}/{transactionalItemStatusId}"
@page "/StatusConcept/{Page}"
@page "/StatusConcept/{Page}/{PageOrigin}/{filterItems}/{transactionalItemStatusId}"
@page "/StatusConcept/{Page}/{PageOrigin}/{filterItems}"
@using SunttelTradePointB.Shared.Common
@using Syncfusion.Blazor.Buttons
@inject NavigationManager Navigation
@inject TransactionalItemsService transactionalService;

@if (@viewMsg)
{
    <MessageSaveComponent isVisible="viewMsg" message="@msg">
    </MessageSaveComponent>
}

<PageTitleComponent Title=" Status " IconName="signal.png"
                    Description="Here you can add  Status ">
</PageTitleComponent>

<div class="flex-horizontal-center">
    <div class="grid-columns-2 box-shadow-mode">
        <div><label class="info-text-size">@GetName( "Name", new AtomConcept())</label></div>
        <div><input type="text" @bind-value="transactionalItemStatus.Name" class="form-control info-text-size" placeholder="Edit value" /></div>
        <div><label class="info-text-size" >@GetName( "Code", new AtomConcept())</label></div>
        <div><input type="text" @bind-value="transactionalItemStatus.Code" class="form-control info-text-size" placeholder="Edit value" /></div>
        <div><label class="info-text-size" >@GetName( "Notes", new AtomConcept())</label></div>
        <div><input type="text" @bind-value="transactionalItemStatus.Notes" class="form-control info-text-size" placeholder="Edit value" /></div>
        <div><label class="info-text-size" >@GetName( "IsAvailableForSale", new TransactionalItemStatus())</label></div>
        <div>
            <SfSwitch @bind-Checked="@transactionalItemStatus.IsAvailableForSale"></SfSwitch>
        </div>
        <div><label class="info-text-size">@GetName( "IsAvailableToProduce", new TransactionalItemStatus())</label></div>
        <div>
            <SfSwitch @bind-Checked="@transactionalItemStatus.IsAvailableToProduce"></SfSwitch>
        </div>
        <div><label class="info-text-size">@GetName( "IsAvailableToBuy", new TransactionalItemStatus())</label></div>
        <div>
            <SfSwitch @bind-Checked="@transactionalItemStatus.IsAvailableToBuy"></SfSwitch>
        </div>
        <div></div>
        <div>
            <div class="flex-horizontal-end">
                <button @onclick='()=>Closed("control")' class="size-btn color-btn"><i class="fa-sharp fa-solid fa-circle-arrow-left color-hover"></i></button>
                <button @onclick='Save' class="size-btn color-btn"><i class="fa-regular fa-floppy-disk color-hover "></i></button>
            </div>
        </div>
    </div>

</div>

@code {
    [Parameter]
    public string Page { get; set; } = "";

    [Parameter]
    public string? PageOrigin { get; set; }

    [Parameter]
    public string transactionalItemStatusId { get; set; }

    [Parameter]
    public string filterItems { get; set; } = "";

    public TransactionalItemStatus transactionalItemStatus = new();
    public List<TransactionalItemStatus> transactionalItemStatuss = new();

    public bool modeEdit = true, viewMsg = false;
    public string msg = "", pageView = "";


    protected override async Task OnInitializedAsync()
    {
        transactionalItemStatus = new();
        if (transactionalItemStatusId != null)
        {
            transactionalItemStatus = await transactionalService.GetTransactionalStatusesTableById(transactionalItemStatusId);
        }

        if (transactionalItemStatus == null)
        {
            transactionalItemStatus = new();
        }
        base.OnInitialized();
    }


    public void Closed(string value)
    {
        if (value == "control" && PageOrigin !=null) Navigation.NavigateTo($"/{Page}/{PageOrigin}/{filterItems}");
        if (value == "control" && PageOrigin == null) Navigation.NavigateTo($"/{Page}/{filterItems}");
    }

    public async void Save()
    {
        var resul = await transactionalService.SaveStatus(transactionalItemStatus);
        if (resul) transactionalItemStatus = new();
        Msg(resul);


    }

    private void Msg(bool mode)
    {
        msg = mode ? "Saved" : "No saved";
        viewMsg = true;
        StateHasChanged();
    }
    private void Msg(string? Msg)
    {
        msg = Msg;
        viewMsg = true;
        StateHasChanged();
    }
    public string GetName(string Name, Object Obj)
    {
        Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }
}
