@page "/StatusConcept/{Page}/{Mode}/{filterItems}"
@page "/StatusConcept/{Page}/{Mode}"
@using SunttelTradePointB.Shared.Common
@using Syncfusion.Blazor.Buttons
@inject NavigationManager Navigation
@inject TransactionalItemsService transactionalService;


<PageTitleComponent Title=" Status " IconName="goods.png"
                    Description="Here you can add  Status ">
</PageTitleComponent>

<div class="flex-horizontal-center">
    <div class="grid-columns-2 box-shadow-mode">
        <div><label>@GetName( "Name", new AtomConcept())</label></div>
        <div><input type="text" @bind-value="transactionalItemStatus.Name" class="form-control" placeholder="Edit value" /></div>
        <div><label>@GetName( "Code", new AtomConcept())</label></div>
        <div><input type="text" @bind-value="transactionalItemStatus.Code" class="form-control" placeholder="Edit value" /></div>
        <div><label>@GetName( "Notes", new AtomConcept())</label></div>
        <div><input type="text" @bind-value="transactionalItemStatus.Notes" class="form-control" placeholder="Edit value" /></div>
        <div><label>@GetName( "IsAvailableForSale", new TransactionalItemStatus())</label></div>
        <div>
            <SfSwitch @bind-Checked="@transactionalItemStatus.IsAvailableForSale"></SfSwitch>
        </div>
        <div><label>@GetName( "IsAvailableToProduce", new TransactionalItemStatus())</label></div>
        <div>
            <SfSwitch @bind-Checked="@transactionalItemStatus.IsAvailableToProduce"></SfSwitch>
        </div>
        <div><label>@GetName( "IsAvailableToBuy", new TransactionalItemStatus())</label></div>
        <div>
            <SfSwitch @bind-Checked="@transactionalItemStatus.IsAvailableToBuy"></SfSwitch>
        </div>
    </div>



    <div></div>
    <div class="flex-horizontal-end">
        <button @onclick='()=>Closed("control")' class="size-btn color-btn"><i class="fa-sharp fa-solid fa-circle-arrow-left color-hover"></i></button>
        <button @onclick='Save' class="size-btn color-btn"><i class="fa-regular fa-floppy-disk color-hover "></i></button>
    </div>


</div>

@code {
    [Parameter]
    public string Page { get; set; } = "";
    [Parameter]
    public string Mode { get; set; } = "Add";
    [Parameter]
    public string filterItems { get; set; } = "";
    public TransactionalItemStatus transactionalItemStatus = new();
    public List<TransactionalItemStatus> transactionalItemStatuss = new();


    protected override void OnInitialized()
    {
        if (Mode == "Edit")
        {
            transactionalItemStatus = transactionalService.ConceptStatusSelectedItems;
        }
        if (Mode == "Add")
        {
            transactionalItemStatus = new();
        }
        base.OnInitialized();
    }


    public void Closed(string value)
    {
        if (value == "control") Navigation.NavigateTo($"/{Page}/{filterItems}");
    }

    public async void Save()
    {
        transactionalItemStatus.CreationTime = DateTime.UtcNow;
        transactionalItemStatus.LastModifiedTime = DateTime.UtcNow;        
       var resul = await transactionalService.SaveStatus(null, transactionalItemStatus);
        if (resul) transactionalItemStatus = new();

    }


    public string GetName(string Name, Object Obj)
    {
        Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }
}
