@page "/SalesPayments/{page}"
@page "/Payments/{page}/{_filterItems}"
@page "/PurchasesPayments/{page}"
@page "/PurchasesPayments/{page}/{_filterItems}"
@using SunttelTradePointB.Shared.Sales;
@using SunttelTradePointB.Shared.Accounting
@inject SunttelTradePointB.Client.Services.PaymentServices.PaymentServices PaymentServices
@inject ContextMenuService ContextMenuService
@inject NavigationManager Navigation

<style>
    .rz-datatable-data td .rz-cell-data, .rz-grid-table td .rz-cell-data {
        font-size: 12px;
    }

    .rz-datatable-data td, .rz-grid-table td {
        padding: 3px;
    }

        .rz-datatable-data td .rz-cell-data, .rz-grid-table tr:has(:hover) {
            background-color: #1bc7b7;
            box-shadow: 0px 2px 5px;
            font-weight: bold;
        }

    .rz-state-highlight {
        background-color: #1bc7b7;
        font-weight: bold;
    }
</style>

@inject IJSRuntime Js

<PageTitleComponent Title="@(namePage)" IconName="Payments.png"
                    Description="@($"With this tool you can create and edit {namePage}")">
</PageTitleComponent>

<div class="panelMenuContainer">
    <PaymentsMenu  page="@backPage"></PaymentsMenu>
    <SearchComponent @bind-FilterTextSet="@filter"></SearchComponent>
</div>
<div class="panelMenuContainer">
    <PaymentMenu2 isASales="@isASale"  SetDocumentTypeId="SetDocumentTypeId"></PaymentMenu2>
    <RangeDatesInput @bind-StartDate="@startingDate"
                     StartDateName="From"
                     @bind-EndDate="endDate"
                     EndDateName="To"
                     EventSearchAll="EventSearchAll"></RangeDatesInput>
</div>


<div class="tableContainer">


    @if (isLoading)
    {

        <WaitingProcessIndicator loadingTopic="@(namePage)"></WaitingProcessIndicator>

    }
    else
    {

        @if (paymentList!=null)
        {

        <RadzenDataGrid AllowFiltering="true"
                    AllowColumnResize="true"
                    AllowAlternatingRows="true"
                    FilterMode="FilterMode.Advanced"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    AllowSorting="true"
                    PageSize="50"
                    AllowPaging="true"
                    PagerHorizontalAlign="Radzen.HorizontalAlign.Left"
                    ShowPagingSummary="true"
                    Data="paymentList"
                    TItem="Payment"
                    ColumnWidth="300px"
                    SelectionMode="DataGridSelectionMode.Single"
                    LogicalFilterOperator="LogicalFilterOperator.Or"
                    CellContextMenu="@ShowContextMenuCommercialDocument">
            <Columns>

                <RadzenDataGridColumn TItem="Payment" Property="DocumentType.Name" Title="@GetName("DocumentType",new Payment())" Width="208px" />
                <RadzenDataGridColumn TItem="Payment" Property="Code" Title="@GetName("Code",new Payment())" Width="88px" />
                <RadzenDataGridColumn TItem="Payment" Property="PaymentRef" Title="@GetName("PaymentRef",new Payment())" Filterable="false" Sortable="false" Width="88px" />
                <RadzenDataGridColumn TItem="Payment" Property="PaymentDate" Title="@GetName("PaymentDate",new Payment())" Filterable="false" FormatString="{0:yyyy-MM-dd}" Sortable="false" Width="88px" />
                <RadzenDataGridColumn TItem="Payment" Property="Payer.Name" Title="@GetName("Payer",new Payment())" Filterable="false" Sortable="false" Width="108px" />
                <RadzenDataGridColumn TItem="Payment" Property="Receiver.Name" Title="@GetName("Receiver",new Payment())" Filterable="false" Sortable="false" Width="88px" />
                <RadzenDataGridColumn TItem="Payment" Property="Status.Name" Title="@GetName("Status",new Payment())" Width="88px" />
                <RadzenDataGridColumn TItem="Payment" Property="Receiver.Name" Title="@GetName("Receiver",new Payment())" Filterable="false" Sortable="false" Width="108px" />
                <RadzenDataGridColumn TItem="Payment" Property="PaymentValue" Title="@GetName("PaymentValue",new Payment())" Filterable="false" TextAlign="TextAlign.Right" FormatString="{0:N2}" Sortable="false" Width="108px" />
                <RadzenDataGridColumn TItem="Payment" Property="ReturnedPayment" Title="@GetName("ReturnedPayment",new Payment())" TextAlign="TextAlign.Center" Filterable="false" Sortable="false" Width="208px">
                    <Template>
                        @{
                            var ReturnedPayment = (bool)context.GetType().GetProperty(nameof(Payment.ReturnedPayment)).GetValue(context);
                            <input type="checkbox" checked="@ReturnedPayment" />
                        }
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
        <div class="container-total">
            <div class="item">
                <label>
                    @($"Records: {paymentList.Count}")
                </label>
            </div>
            <div class="item"><label>@SumTotal()</label> </div>
        </div>
        }
    }
</div>


@code {
    [Parameter]
    public string _filterItems { get; set; }
    [Parameter]
    public string page { get; set; }
    public List<Payment> paymentList { get; set; }
    public CommercialDocumentType documentType { get; set; }

    string namePage = "";
    string backPage = "";
    string icoLogo = "";

    bool isASale = false;
    bool isLoading = false;

    DateTime startingDate = DateTime.Now, endDate = DateTime.Now.AddMonths(1);

    public string filter
    {
        get { return _filterItems; }
        set
        {
            _filterItems = value;
            LoadData();
        }
    }

    protected async override void OnInitialized()
    {

        if (_filterItems != null) LoadData();
        ValidateUri();
        base.OnInitialized();

    }

    protected override void OnParametersSet()
    {
        ValidateUri();
        StateHasChanged();
    }


    public async void LoadData()
    {
        isLoading = true;
        if (documentType != null)
        {            
            paymentList = await PaymentServices.GetPaymentList((filter != null ? filter : "all"), (documentType != null ? documentType?.Id : ""), startingDate, endDate, 1, 10);
        }
        isLoading = false;
        StateHasChanged();
    }

    public async void SetDocumentTypeId(CommercialDocumentType item)
    {

        if (item != null)
        {
            documentType = item;
        }
        StateHasChanged();
    }


    void ShowContextMenuCommercialDocument(DataGridCellMouseEventArgs<Payment> args) => ContextMenuService.Open(args, ds =>
    @<RadzenMenu Click="OnMenuItemClick">
        <RadzenMenuItem Text="Edit" Value=args.Data Icon="edit"></RadzenMenuItem>

    </RadzenMenu>
    );


    void OnMenuItemClick(MenuItemEventArgs args)
    {
        Payment argObj = (Payment)args.Value;
        Navigation.NavigateTo($"{backPage}/{argObj.Id}/{_filterItems}");
        if (!args.Value.Equals(3) && !args.Value.Equals(4))
        {
            ContextMenuService.Close();
        }
    }

    public void Setfilter(string value)
    {
        filter = value;
        StateHasChanged();
    }

    public string GetName(string Name, Object Obj)
    {
        if (UICommonFunctions.GetDisplayName(Obj, Name) != null) Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }

    public void EventSearchAll(string value)
    {
        filter = value;
    }

    public string SumTotal()
    {

        double value = 0;
        string result = "";
        if (paymentList != null)
        {
            string paymentValue = paymentList.Sum(s => s.PaymentValue).ToString("N2");                 
            result = $"{GetName("PaymentValue", new Payment())}: {paymentValue}";
          
        }

        return result; //value.ToString("N2", format);
    }

    public void ValidateUri()
    {
        string Name = Navigation.Uri;
        if (Name.Contains("SalesPayments"))
        {
            isASale = true;
            namePage = "Sales Payments";
            backPage = $"SalesPaymentsItem/{page}";
            icoLogo = "Payments.png";
        }
        else
        if (Name.Contains("PurchasesPayments"))
        {
            isASale = false;
            if (Name.Contains("PurchasesPayments"))
            {
                backPage = $"PurchasesPaymentsItem/{page}";
                namePage = " Purchases Payments";
                icoLogo = "Payments.png";
            }
        }
        StateHasChanged();
    }

}
