@page "/Boxes"
@page "/Boxes/{_filterItems}"
@using SunttelTradePointB.Client.Shared.TransactionalItems
@using SunttelTradePointB.Shared.Common
@using SunttelTradePointB.Client.Shared.TransactionalItems.TransactionalItemsSubComponents
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@inject HttpClient Http
@inject TransactionalItemsService transactItemsService;
@inject IJSRuntime JSRuntime
@inject ContextMenuService ContextMenuService
@inject DialogService DialogService
@inject NavigationManager Navigation

<style>
    .rz-datatable-data td .rz-cell-data, .rz-grid-table td .rz-cell-data {
        font-size: 12px;
    }
</style>

<PageTitleComponent Title="Box Types" IconName="boxes.png"
                    Description="Box types to keep the different products">
</PageTitleComponent>

<div class="panelMenuContainer">
    <BoxTypesMenu></BoxTypesMenu>
    <SearchComponent @bind-FilterTextSet="@conceptFilter"></SearchComponent>

</div>
@if (isLoading)
{

    <WaitingProcessIndicator loadingTopic="Transactional Items"></WaitingProcessIndicator>

}
else
{
    @if (@boxes != null)
    {
        <RadzenDataGrid AllowFiltering="true"
                AllowColumnResize="true"
                AllowAlternatingRows="true"
                FilterMode="FilterMode.Advanced"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowSorting="true"
                AllowPaging="true"
                PagerHorizontalAlign="Radzen.HorizontalAlign.Left"
                ShowPagingSummary="true"
                Data="@boxes"
                TItem="Box"
                ColumnWidth="300px"
                SelectionMode="DataGridSelectionMode.Single"
                LogicalFilterOperator="LogicalFilterOperator.Or"
                CellContextMenu="@ShowContextMenuWithContent"
                PageNumbersCount="100"
                PageSize="2">

            <Columns>               
                <RadzenDataGridColumn TItem="Box" Property="Box.Name)" Title="@GetName("Name", new AtomConcept())" ></RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Box" Property="Box.Code)" Title="@GetName("Code", new AtomConcept())"></RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Box" Property="Box.Cost)" Title="@GetName("Cost", new Box())" ></RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Box" Property="Box.ContainersNumber)" Title="@GetName("ContainersNumber", new Box())"></RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Box" Property="Box.FlagWet)" Title="@GetName("FlagWet", new Box())" ></RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Box" Property="Box.Length)" Title="@GetName("Length", new Box())"></RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Box" Property="Box.Width)" Title="@GetName("Width", new Box())"></RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Box" Property="Box.Height)" Title="@GetName("Height", new Box())"></RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="Box" Property="Box.Notes)" Title="@GetName("Notes", new Box())"></RadzenDataGridColumn>

            </Columns>
        </RadzenDataGrid>


    }

}

@code {
    [Parameter]
    public string _filterItems { get; set; } = "";
    public List<Box> boxes { get; set; }

    List<GridColumn> ListGridBox = new List<GridColumn>();
    SfGrid<Box>? referDataGrid;

    bool isLoading = false;

    List<ContextMenuItemModel> contextMenuItemModel = new List<ContextMenuItemModel>()
    {
        new ContextMenuItemModel { Text = "Edit", Target = ".e-content", Id = "copywithheader", IconCss="images/TransactionalTypes.png" }
    };


    public string? conceptFilter
    {
        get { return _filterItems; }
        set
        {
            _filterItems = value;
            LoadData();
        }
    }

    protected override void OnInitialized()
    {
        if (_filterItems != "" && _filterItems != null)
        {
            LoadData();
        }
        transactItemsService.Page = "Boxes";
    }

    public string GetName(string Name, Object Obj)
    {
        Name = UICommonFunctions.GetDisplayName(Obj, Name) != null ? UICommonFunctions.GetDisplayName(Obj, Name) : Name;
        return Name;
    }

    private async Task LoadData()
    {
        isLoading = true;
        boxes = await transactItemsService.GetBoxTable( _filterItems);
        isLoading = false;
        StateHasChanged();
    }



    #region Grid

    void ShowContextMenuWithContent(DataGridCellMouseEventArgs<Box> args) => ContextMenuService.Open(args, ds =>
    @<RadzenMenu Click="OnMenuItemClick">
        <RadzenMenuItem Text="Edit" Value=args.Data Icon="edit"></RadzenMenuItem>
    </RadzenMenu>
    );

    void OnMenuItemClick(MenuItemEventArgs args)
    {
        Box argObj = (Box)args.Value;

       
        Navigation.NavigateTo($"/BoxeConcept/Boxes/{_filterItems}/{argObj.Id}");
       
    }

    #endregion Grid






}