@page "/DocumentType/{_filterItems}"
@page "/DocumentType"

@using SunttelTradePointB.Client.Services.SalesServices;
@using SunttelTradePointB.Shared.Sales;
@inject HttpClient Http
@inject SalesDocuments SalesDocumentsService
@inject ContextMenuService ContextMenuService
@inject TransactionalItemsService transactItemsService
@inject NavigationManager Navigation


<PageTitleComponent Title="Commercial Document Types" IconName="signal.png"
                    Description="Describe the type of commercial documents">
</PageTitleComponent>

<div class="panelMenuContainer">
    <MenuConcet OriginPage="SalesDocuments"></MenuConcet>
    <SearchComponent @bind-FilterTextSet="@conceptFilter"></SearchComponent>
</div>


@if (isLoading)
{

    <WaitingProcessIndicator loadingTopic="Transactional Items"></WaitingProcessIndicator>

}
else
{
    <RadzenDataGrid AllowFiltering="true"
                AllowColumnResize="true"
                AllowAlternatingRows="true"
                FilterMode="FilterMode.Advanced"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowSorting="true"
                AllowPaging="true"
                PagerHorizontalAlign="Radzen.HorizontalAlign.Left"
                ShowPagingSummary="true"
                Data="@commercialDocumentTypes"
                TItem="CommercialDocumentType"
                ColumnWidth="300px"
                SelectionMode="DataGridSelectionMode.Single"
                LogicalFilterOperator="LogicalFilterOperator.Or"
                CellContextMenu="@ShowContextMenuWithContent"
                PageNumbersCount="100"
                PageSize="10">

        <Columns>
            <RadzenDataGridColumn TItem="CommercialDocumentType" Property="Name" Title="@GetName("Name", new CommercialDocumentType())" Width="80px" />
            <RadzenDataGridColumn TItem="CommercialDocumentType" Property="AffectInventory" Title="@GetName("AffectInventory", new CommercialDocumentType())" Width="120px" TextAlign="Radzen.TextAlign.Center">
                <Template>
                    @{
                        bool AffectInventory = (bool)context.GetType().GetProperty(nameof(CommercialDocumentType.AffectInventory)).GetValue(context);
                        <input type="checkbox" checked="@AffectInventory" />
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CommercialDocumentType" Property="NeedsCheckPrices" Title="@GetName("NeedsCheckPrices", new CommercialDocumentType())" Width="120px" TextAlign="Radzen.TextAlign.Center">
                <Template>
                    @{
                        bool EditingAllowed = (bool)context.GetType().GetProperty(nameof(CommercialDocumentType.NeedsCheckPrices)).GetValue(context);
                        <input type="checkbox" checked="@EditingAllowed" />
                    }
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="CommercialDocumentType" Property="AffectFinance" Title="@GetName("AffectFinance", new CommercialDocumentType())" Width="120px" TextAlign="Radzen.TextAlign.Center">
                <Template>
                    @{
                        bool EditingAllowed = (bool)context.GetType().GetProperty(nameof(CommercialDocumentType.AffectFinance)).GetValue(context);
                        <input type="checkbox" checked="@EditingAllowed" />
                    }
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}


@code {
    [Parameter]
    public string _filterItems { get; set; } = "";

    public List<CommercialDocumentType> commercialDocumentTypes = new List<CommercialDocumentType>();


    protected override void OnInitialized()
    {
        transactItemsService.Page = "CommercialDocumentType";
        if (_filterItems == "" && _filterItems is null) return;
        LoadData();
    }

    bool isLoading = false;

    public string? conceptFilter
    {
        get { return _filterItems; }
        set
        {
            _filterItems = value;
            LoadData();
        }
    }

    private async Task LoadData()
    {
        isLoading = true;
        commercialDocumentTypes = await SalesDocumentsService.GetCommercialDocumentsTypes(_filterItems);
        isLoading = false;
        StateHasChanged();
    }


    public void Onload(object args)
    {
        isLoading = false;
        StateHasChanged();
    }

    #region Grid

    void ShowContextMenuWithContent(DataGridCellMouseEventArgs<CommercialDocumentType> args) => ContextMenuService.Open(args, ds =>
    @<RadzenMenu Click="OnMenuItemClick">
        <RadzenMenuItem Text="Edit" Value=args.Data Icon="edit"></RadzenMenuItem>
    </RadzenMenu>
    );

    void OnMenuItemClick(MenuItemEventArgs args)
    {
        CommercialDocumentType argObj = (CommercialDocumentType)args.Value;

        Navigation.NavigateTo($"/DocumentTypeConcept/add/{argObj.Id}");
    }

    #endregion Grid




    public string GetName(string Name, Object Obj)
    {
        Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }

}