@page "/EntityRoles"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using SunttelTradePointB.Shared.Common


@inject IJSRuntime JSRuntime
@inject ContextMenuService ContextMenuService
@inject IEntityNodes actorsNodeServive
@inject NavigationManager navigationManager

<style>
    .rz-datatable-data td .rz-cell-data, .rz-grid-table td .rz-cell-data {
        font-size: 12px;
    }

    .rz-datatable-data td, .rz-grid-table td {
        padding: 3px;
    }

        .rz-datatable-data td .rz-cell-data, .rz-grid-table tr:has(:hover) {
            background-color: #1bc7b7;
            box-shadow: 0px 2px 5px;
            font-weight: bold;
        }

    .rz-state-highlight {
        background-color: #1bc7b7;
        font-weight: bold;
    }
</style>
<MessageSaveComponent isVisible="viewMsg" message="@msg"></MessageSaveComponent>
<PageTitleComponent Title="Entity Roles" IconName="EntityRoles.png"
                    Description="Describes the different roles the entities could play">
</PageTitleComponent>

<div class="panelMenuContainer">
    <RolesMenu></RolesMenu>
    <SearchComponent @bind-FilterTextSet="@conceptFilter"></SearchComponent>
</div>


<div>
    @if (isLoading)
    {
        <WaitingProcessIndicator loadingTopic="Roles"></WaitingProcessIndicator>
    }
    else
    {
        @if (entityRolesList != null)
        {


            <RadzenDataGrid AllowFiltering="true"
                            AllowColumnResize="true"
                            AllowAlternatingRows="true"
                            FilterMode="FilterMode.Advanced"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowSorting="true"
                            PageSize="50"
                            ColumnWidth="100%"
                            AllowPaging="true"
                            PagerHorizontalAlign="Radzen.HorizontalAlign.Left"
                            ShowPagingSummary="true"
                            SelectionMode="DataGridSelectionMode.Single"
                            LogicalFilterOperator="LogicalFilterOperator.Or"
                            CellContextMenu="@ShowContextMenuCommercialDocument"
                            Data="entityRolesList"
                            TItem="EntityRole">
                <Columns>
                    <RadzenDataGridColumn TItem="EntityRole" Property="Code" Title="@GetName("Code",new EntityRole())" Filterable="false" Width="150px" />
                    <RadzenDataGridColumn TItem="EntityRole" Property="Name" Title="@GetName("Name",new EntityRole())" Filterable="false" Width="150px" />
                    <RadzenDataGridColumn TItem="EntityRole" Title="@GetName("EntityRoleClassifier",new EntityRole())" Filterable="false" Width="150px">
                        <Template Context="data">
                            @GetRol(data)
                        </Template>
                    </RadzenDataGridColumn>

                    <RadzenDataGridColumn TItem="EntityRole" Title="@GetName("Action",new BasicConcept())" Sortable="false" Width="100px" TextAlign="Radzen.TextAlign.Center">
                        <Template Context="data">

                            <Confirm Id="@data.Id" TextValue="@($"¿ Confirm delete ?")"
                                     IdSelect="@IdDelete"
                                     ConfirmIdAction='ConfirmDelete'
                                     CancelAction="CancelDelete"
                                     SelectIdAction="SelectDelete"></Confirm>

                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
            <div class="container-total">
                <div class="item">
                    <label>
                        @(
                            $"Records: {entityRolesList.Count}"
                            )
                    </label>
                </div>
            </div>

        }
    }
</div>


@code {
    string filterText = "";
    List<EntityRole> entityRolesList;
    IList<EntityRole> selectedRoles;

    bool viewMsg = false;
    string msg = "";
    string IdDelete = "";
    bool isLoading = false;
    string _filterItems = "";
    string filter = "all";
    public string? conceptFilter
    {
        get { return _filterItems; }
        set
        {
            _filterItems = value;
            GetFilterRoles();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetFilterRoles();
    }

    private async Task GetFilterRoles()
    {
        if (filter.Length > 0)
        {
            isLoading = true;
            StateHasChanged();

            filter = "all";

            var response = await actorsNodeServive.GetListEntityRoles(filter);

            if (response != null)
                entityRolesList = response;

            isLoading = false;
            StateHasChanged();
        }
    }

    void ShowContextMenuCommercialDocument(DataGridCellMouseEventArgs<EntityRole> args) => ContextMenuService.Open(args, ds =>
    @<RadzenMenu Click="OnMenuItemClick">
        <RadzenMenuItem Text="Edit" Value=args.Data Icon="edit"></RadzenMenuItem>
    </RadzenMenu>
    );


    void OnMenuItemClick(MenuItemEventArgs args)
    {
        EntityRole argObj = (EntityRole)args.Value;
        navigationManager.NavigateTo($"/EntityRoles/{argObj.Id}/Edit");
        if (!args.Value.Equals(3) && !args.Value.Equals(4))
        {
            ContextMenuService.Close();
        }
    }

    #region Confirm

    public async void ConfirmDelete(string Id)
    {
        Alert("...", false);
        bool result = await actorsNodeServive.DeleteEntityRoleById(Id);
        if (result) { GetFilterRoles(); }
        else
        {
            Alert("Not deleted", true);
        }
        CancelDelete();
        StateHasChanged();
    }

    public void SelectDelete(string Id)
    {
        IdDelete = Id;
        StateHasChanged();
    }

    public void CancelDelete()
    {
        IdDelete = "";
        StateHasChanged();
    }
    #endregion Confirm

    public void Alert(string _msg, bool visible)
    {
        viewMsg = visible;
        msg = _msg;
    }

    public string GetName(string Name, Object Obj)
    {
        if (UICommonFunctions.GetDisplayName(Obj, Name) != null) Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }

    public string GetRol(EntityRole data)
    {
        string rol = "";
        if (data.IsUser) rol = "Is User";
        if (data.IsCompany) rol = "Is Company";
        if (data.IsProvider) rol = "Is Provider";
        if (data.IsCustomer) rol = "Is Customer";
        return rol;

    }

}
