@page "/EntityRoles"
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@using SunttelTradePointB.Shared.Common


@inject IJSRuntime JSRuntime
@inject ContextMenuService ContextMenuService
@inject ActorsNodeService actorsNodeServive
@inject NavigationManager navigationManager

<style>
    .rz-datatable-data td .rz-cell-data, .rz-grid-table td .rz-cell-data {
        font-size: 12px;
    }

    .rz-datatable-data td, .rz-grid-table td {
        padding: 3px;
    }

        .rz-datatable-data td .rz-cell-data, .rz-grid-table tr:has(:hover) {
            background-color: #1bc7b7;
            box-shadow: 0px 2px 5px;
            font-weight: bold;
        }

    .rz-state-highlight {
        background-color: #1bc7b7;
        font-weight: bold;
    }
</style>

<PageTitleComponent Title="Entity Roles" IconName="EntityRoles.png"
                    Description="Describes the different roles the entities could play">
</PageTitleComponent>

<div class="panelMenuContainer">
    <RolesMenu></RolesMenu>
    <SearchComponent @bind-FilterTextSet="@conceptFilter"></SearchComponent>
</div>


<div >
    @if (isLoading)
    {
        <WaitingProcessIndicator loadingTopic="Roles"></WaitingProcessIndicator>
    }else{
        @if(entityRolesList != null)
        {


            <RadzenDataGrid AllowFiltering="true"
                    AllowColumnResize="true"
                    AllowAlternatingRows="true"
                    FilterMode="FilterMode.Advanced"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    AllowSorting="true"
                    PageSize="50"
                    ColumnWidth="100%"
                    AllowPaging="true"
                    PagerHorizontalAlign="Radzen.HorizontalAlign.Left"
                    ShowPagingSummary="true"
                    SelectionMode="DataGridSelectionMode.Single"
                    LogicalFilterOperator="LogicalFilterOperator.Or"
                    CellContextMenu="@ShowContextMenuCommercialDocument"
                    Data="entityRolesList"
                    TItem="EntityRole">
                <Columns>
                    <RadzenDataGridColumn TItem="EntityRole" Property="Code" Title="@GetName("Code",new EntityRole())" Filterable="false" Width="150px" />
                    <RadzenDataGridColumn TItem="EntityRole" Property="Name" Title="@GetName("Name",new EntityRole())" Filterable="false" Width="150px" />
                </Columns>
            </RadzenDataGrid>
            <div class="container-total">
                <div class="item">
                    <label>
                        @(
                            $"Records: {entityRolesList.Count}"
                            )
                    </label>
                </div>
            </div>

        }
    }
</div>


@code {
    string filterText = "";
    List<EntityRole> entityRolesList;
    IList<EntityRole> selectedRoles;


    bool isLoading = false;
    string _filterItems = "";

    public string? conceptFilter
    {
        get { return _filterItems; }
        set
        {
            _filterItems = value;
            GetFilterRoles(_filterItems);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await GetFilterRoles("all");
    }

    private async Task GetFilterRoles(string filter = "")
    {
        if(filter.Length > 0)
        {
            isLoading = true;
            StateHasChanged();
           
           filter = "all";            

            var response = await actorsNodeServive.GetListEntityRoles(filter);

            if (response != null)
                entityRolesList = response;

            isLoading = false;
            StateHasChanged();
        }
    }

    void ShowContextMenuCommercialDocument(DataGridCellMouseEventArgs<EntityRole> args) => ContextMenuService.Open(args, ds =>
    @<RadzenMenu Click="OnMenuItemClick">
        <RadzenMenuItem Text="Edit" Value=args.Data Icon="edit"></RadzenMenuItem>
    </RadzenMenu>
    );


    void OnMenuItemClick(MenuItemEventArgs args)
    {
        EntityRole argObj = (EntityRole)args.Value;     
        navigationManager.NavigateTo($"/EntityRoles/{argObj.Id}/Edit");
        if (!args.Value.Equals(3) && !args.Value.Equals(4))
        {
            ContextMenuService.Close();
        }
    }


    public string GetName(string Name, Object Obj)
    {
        if (UICommonFunctions.GetDisplayName(Obj, Name) != null) Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }

}
