@page "/Groups"
@page "/Groups/{_filterItems}"
@using SunttelTradePointB.Client.Shared.TransactionalItems
@using SunttelTradePointB.Client.Shared.TransactionalItems.TransactionalItemsSubComponents
@using SunttelTradePointB.Shared.Common
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@inject HttpClient Http
@inject ITransactionalItemsService transactItemsService;
@inject IJSRuntime JSRuntime
@inject ContextMenuService ContextMenuService
@inject DialogService DialogService
@inject NavigationManager Navigation

<style>
    .rz-datatable-data td .rz-cell-data, .rz-grid-table td .rz-cell-data {
        font-size: 12px;
    }

    .rz-datatable-data td, .rz-grid-table td {
        padding: 3px;
    }

        .rz-datatable-data td .rz-cell-data, .rz-grid-table tr:has(:hover) {
            background-color: #1bc7b7;
            box-shadow: 0px 2px 5px;
            font-weight: bold;
        }

    .rz-state-highlight {
        background-color: #1bc7b7;
        font-weight: bold;
    }
</style>

<MessageSaveComponent isVisible="viewMsg" message="@msg"></MessageSaveComponent>

<PageTitleComponent Title="Groups of Transactional Items" IconName="group.png"
                    Description="Describe how the commercial items could be classified">
</PageTitleComponent>

<div class="panelMenuContainer">
    <MenuConcet OriginPage="Products"></MenuConcet>
    <SearchComponent @bind-FilterTextSet="@conceptFilter"></SearchComponent>

</div>


@if (isLoading)
{

    <WaitingProcessIndicator loadingTopic="Transactional Items"></WaitingProcessIndicator>

}
else
{
    @if (conceptGroup != null)
    {
        <RadzenDataGrid AllowFiltering="true"
                AllowColumnResize="true"
                AllowAlternatingRows="true"
                FilterMode="FilterMode.Advanced"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                AllowSorting="true"
                AllowPaging="true"
                PagerHorizontalAlign="Radzen.HorizontalAlign.Left"
                ShowPagingSummary="true"
                Data="@conceptGroup"
                TItem="ConceptGroup"
                ColumnWidth="100%"
                SelectionMode="DataGridSelectionMode.Single"
                LogicalFilterOperator="LogicalFilterOperator.Or"
                CellContextMenu="@ShowContextMenuWithContent"
                PageNumbersCount="100"
                PageSize="50">

            <Columns>
                <RadzenDataGridColumn TItem="ConceptGroup" Property="Name" Title="@GetName("TransactionalItemCharacteristic", new ConceptGroup())" Width="250px" />
                <RadzenDataGridColumn TItem="ConceptGroup" Property="Code" Title="@GetName("Value", new ConceptGroup())" Width="180px" TextAlign="Radzen.TextAlign.Center" />
                <RadzenDataGridColumn TItem="ConceptGroup" Property="GroupClassificationCriteria" Title="@GetName("GroupClassificationCriteria", new ConceptGroup())" Width="180px" TextAlign="Radzen.TextAlign.Center" />
                <RadzenDataGridColumn TItem="ConceptGroup" Title="@GetName("Action",new BasicConcept())" Sortable="false" Width="100px" TextAlign="Radzen.TextAlign.Center">
                    <Template Context="data">

                        <Confirm Id="@data.Id" TextValue="@($"¿ Confirm delete ?")"
                         IdSelect="@IdDelete"
                         ConfirmIdAction='ConfirmDelete'
                         CancelAction="CancelDelete"
                         SelectIdAction="SelectDelete"></Confirm>

                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ConceptGroup" Property="Id" Title="@GetName("Id", new ConceptGroup())" Width="50px"></RadzenDataGridColumn>

            </Columns>
        </RadzenDataGrid>
        <div class="container-total">
            <div class="item">
                <label>
                    @(
                        $"Records: {conceptGroup.Count}"
                        )
                </label>
            </div>
        </div>
    }

}




@code {
    [Parameter]
    public string _filterItems { get; set; } = "";
    public List<ConceptGroup> conceptGroup { get; set; }
    public List<ConceptGroup> ChildrenGroups { get; set; }
    public List<GridColumn> GridColumnList { get; set; }

    bool viewMsg = false;
    string msg = "";
    string IdDelete = "";

    protected override void OnInitialized()
    {

        _filterItems = "all";
        LoadData();
        transactItemsService.Page = "Groups";
    }

    bool isLoading = false;

    public string? conceptFilter
    {
        get { return _filterItems; }
        set
        {
            _filterItems = value;
            LoadData();
        }
    }

    private async Task LoadData()
    {
        isLoading = true;
        conceptGroup = await transactItemsService.GetTransactionalItemGroups(_filterItems);

        isLoading = false;
        StateHasChanged();

    }


    public void Onload(object args)
    {
        isLoading = false;
        StateHasChanged();
    }


    #region Grid

    void ShowContextMenuWithContent(DataGridCellMouseEventArgs<ConceptGroup> args) => ContextMenuService.Open(args, ds =>
    @<RadzenMenu Click="OnMenuItemClick">
        <RadzenMenuItem Text="Edit" Value=args.Data Icon="edit"></RadzenMenuItem>
    </RadzenMenu>
    );

    void OnMenuItemClick(MenuItemEventArgs args)
    {
        ConceptGroup argObj = (ConceptGroup)args.Value;

        Navigation.NavigateTo($"/GroupConcept/Groups/{_filterItems}/{argObj.Id}");

    }

    #endregion Grid

    #region Confirm

    public async void ConfirmDelete(string Id)
    {
        Alert("...", false);
        bool result = await transactItemsService.DeleteConceptGroupById(Id);
        if (result) { LoadData(); }
        else
        {
            Alert("Not deleted", true);
        }
        CancelDelete();
        StateHasChanged();
    }

    public void SelectDelete(string Id)
    {
        IdDelete = Id;
        StateHasChanged();
    }

    public void CancelDelete()
    {
        IdDelete = "";
        StateHasChanged();
    }
    #endregion Confirm

    public void Alert(string _msg, bool visible)
    {
        viewMsg = visible;
        msg = _msg;
    }


    public string GetName(string Name, Object Obj)
    {
        Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }

}