@page "/SeasonsGeneral"
@page "/SeasonsGeneral/{_filterItems}"
@using SunttelTradePointB.Client.Shared.TransactionalItems
@using SunttelTradePointB.Shared.Common
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Navigations
@inject HttpClient Http
@inject TransactionalItemsService transactItemsService;
@inject IJSRuntime JSRuntime
@inject ContextMenuService ContextMenuService
@inject DialogService DialogService
@inject NavigationManager Navigation

<PageTitleComponent Title="Seasons" IconName="seasons.png"
                    Description="Commercial Seasons">
</PageTitleComponent>

<div class="panelMenuContainer">
    <BoxTypesMenu></BoxTypesMenu>
    <SearchComponent @bind-FilterTextSet="@conceptFilter"></SearchComponent>

</div>

@if (isLoading)
{

    <WaitingProcessIndicator loadingTopic="Transactional Items"></WaitingProcessIndicator>

}
else
{
    if (seasonBusiness == null) seasonBusiness = new();

    <SfGrid @ref="referDataGrid" DataSource="@seasonBusiness"
        AllowFiltering="true"
        AllowTextWrap="false"
        AllowPaging="true"
        AllowResizing="true"
        ContextMenuItems="@(contextMenuItemModel)">

        <GridFilterSettings Type="FilterType.Menu"></GridFilterSettings>
        <GridColumns>
            <GridColumn Field="@nameof(SeasonBusiness.Name)" HeaderText="@GetName("Name", new AtomConcept())" Width="250px"></GridColumn>
            <GridColumn Field="@nameof(SeasonBusiness.Code)" HeaderText="@GetName("Code", new AtomConcept())" Width="120px"></GridColumn>
            <GridColumn Field="@nameof(SeasonBusiness.FlagSundayShipping)" HeaderText="@GetName("FlagSundayShipping", new SeasonBusiness())" DisplayAsCheckBox="true"></GridColumn>
            <GridColumn Field="@nameof(SeasonBusiness.StartDate)" HeaderText="@GetName("StartDate", new SeasonBusiness())"></GridColumn>
            <GridColumn Field="@nameof(SeasonBusiness.EndDate)" HeaderText="@GetName("EndDate", new SeasonBusiness())"></GridColumn>
            <GridColumn Field="@nameof(SeasonBusiness.Notes)" HeaderText="@GetName("Notes", new AtomConcept())"></GridColumn>
            <GridEvents ContextMenuItemClicked="OnContextMenuClick" TValue="SeasonBusiness"></GridEvents>
        </GridColumns>

    </SfGrid>
}



@code {
    [Parameter]
    public string _filterItems { get; set; } = "";
    SfGrid<SeasonBusiness>? referDataGrid;
    List<SeasonBusiness> seasonBusiness = new List<SeasonBusiness>();

    bool isLoading = false;
    List<ContextMenuItemModel> contextMenuItemModel = new List<ContextMenuItemModel>()
    {
        new ContextMenuItemModel { Text = "Edit", Target = ".e-content", Id = "copywithheader", IconCss="images/TransactionalTypes.png" }
    };

    public string? conceptFilter
    {
        get { return _filterItems; }
        set
        {
            _filterItems = value;
            LoadData();
        }
    }

    protected override void OnInitialized()
    {
        if (_filterItems != "" && _filterItems != null)
        {
            // LoadData();
        }
        transactItemsService.Page = "SeasonsGeneral";
    }
    private async Task LoadData()
    {
        isLoading = true;
        var data = await transactItemsService.GetSeasonsTable(0, 250, _filterItems);
        seasonBusiness = data;
        //await referDataGrid.Refresh();
        isLoading = false;
        StateHasChanged();

    }

    public string GetName(string Name, Object Obj)
    {
        Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }

    public async void OnContextMenuClick(ContextMenuClickEventArgs<SeasonBusiness> args)
    {
        SeasonBusiness itemSeasonBusiness = null;
        itemSeasonBusiness = args.RowInfo.RowData;
        transactItemsService.SeasonBusinessSelectedItems = itemSeasonBusiness;
        if (args.Item.Id == "Edit")
        {
            Navigation.NavigateTo($"/SeasonBusinessConcept/SeasonsGeneral/Edit/{_filterItems}");
        }
    }
}