@page "/WarehousesGeneral/NewWarehouse"
@page "/WarehousesGeneral/{id}/{Mode}"

@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DropDowns
@using SunttelTradePointB.Shared.Common

@inject GeographicPlacesService geoPlaces
@inject NavigationManager navigationManager
@inject WarehouseService warehouseService
@inject ActorsNodeService actorsNodeServive
@inject TransactionalItemsService transactionalItemsService

@if (@viewMsg)
{
    <MessageSaveComponent isVisible="viewMsg" message="@msg">
    </MessageSaveComponent>
}


<div class="control-section">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 container">
            <SfCard>
                <CardHeader Title="@($"{Mode} a  warehouse")" />
                <CardContent>
                    <form onsubmit="event.preventDefault();">
                        <div class="form-group row">
                            <div class="form-group row">
                                <label class="control-label col-md-12 info-text-size">@UICommonFunctions.GetDisplayName(new Warehouse(), "Name")</label>
                                <div class="col">
                                    <input type="text" class="form-control info-text-size" @bind-value="warehouse.Name" required />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row py-2">
                            <div class="form-group row">
                                <div class="col">
                                    <div class="position:relative;">
                                        <label class="control-label col-md-12 info-text-size">@UICommonFunctions.GetDisplayName(new Warehouse(), "WareHouseParent"): </label>

                                        <InputTextSelector3 TItem="Warehouse"
                                                            Id="WareHouseParent"
                                                            caption="@(warehouse.InventoryTransactionalItemType != null ? warehouse.InventoryTransactionalItemType?.Name : "")"
                                                            Items="warehouseList"
                                                            EventSearcherValueAndId="EventSearcherValueAndId"
                                                            EventIdSelectionAndId="SelectionMade">

                                        </InputTextSelector3>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="PRUEBA">
                            <div class="form-group row py-2">
                                <div class="form-group row">
                                    <label class="control-label col-md-12 info-text-size">@UICommonFunctions.GetDisplayName(new Warehouse(), "AssociatedEntity"): </label>

                                    <InputTextSelector3 TItem="EntityActor"
                                                        Id="AssociatedEntity"
                                                        caption="@(warehouse.AssociatedEntity != null ? warehouse.AssociatedEntity?.Name : "")"
                                                        Items="wareHouseParentListApi"
                                                        EventSearcherValueAndId="EventSearcherValueAndId"
                                                        EventIdSelectionAndId="SelectionMade">
                                    </InputTextSelector3>

                                </div>
                            </div>
                            <div class="grid-columns-2">
                                <div class="form-group row py-2">
                                    <div class="form-group row">
                                        <label class="control-label col-md-12 info-text-size">@UICommonFunctions.GetDisplayName(new Warehouse(), "IsExternal"): </label>
                                        <div class="col">
                                            <SfSwitch @bind-Checked="warehouse.IsExternal"></SfSwitch>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row py-2">
                                    <div class="form-group row">
                                        <label class="control-label col-md-12 info-text-size">@UICommonFunctions.GetDisplayName(new Warehouse(), "IsTransformationFacility"): </label>
                                        <div class="col">
                                            <SfSwitch @bind-Checked="warehouse.IsTransformationFacility"></SfSwitch>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row py-2">
                                    <div class="form-group row">
                                        <label class="control-label col-md-12 info-text-sizeUICommonFunctions.GetDisplayName(new Warehouse(), "ScanSimulated"): </label>
                                        <div class="col">
                                            <SfSwitch @bind-Checked="warehouse.ScanSimulated"></SfSwitch>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row py-2">
                                    <div class="form-group row">
                                        <label class="control-label col-md-12 info-text-size">@UICommonFunctions.GetDisplayName(new Warehouse(), "IsInventoryControlled"): </label>
                                        <div class="col">
                                            <SfSwitch @bind-Checked="warehouse.IsInventoryControlled"></SfSwitch>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row py-2">
                                    <div class="form-group row">
                                        <label class="control-label col-md-12 info-text-size">@UICommonFunctions.GetDisplayName(new Warehouse(), "IsActive"): </label>
                                        <div class="col">
                                            <SfSwitch @bind-Checked="warehouse.IsActive"></SfSwitch>
                                        </div>
                                    </div>
                                </div>

                            </div>






                            <div class="form-group row">
                                <div class="form-group row">

                                    <div class="col">
                                        <div class="position:relative;">
                                            <label class="control-label col-md-12 info-text-size">@UICommonFunctions.GetDisplayName(new Warehouse(), "InventoryTransactionalItemType"): </label>

                                            <InputTextSelector3 TItem="TransactionalItemType"
                                                                Id="InventoryTransactionalItemType"
                                                                caption="@(warehouse.InventoryTransactionalItemType != null ? warehouse.InventoryTransactionalItemType?.Name : "")"
                                                                Items="itemType"
                                                                EventSearcherValueAndId="EventSearcherValueAndId"
                                                                EventIdSelectionAndId="SelectionMade">
                                            </InputTextSelector3>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group row py-2">
                                <div class="form-group row">
                                    <label class="control-label col-md-12 info-text-size">@UICommonFunctions.GetDisplayName(new Warehouse(), "WarehouseAddress") </label>
                                    <div class="col">
                                        <AddressComponent oldAddress="warehouse.WarehouseAddress"></AddressComponent>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="form-group row">
                                    <div class="position:relative;">
                                        <label class="control-label col-md-12 info-text-size ">@UICommonFunctions.GetDisplayName(new Warehouse(), "ContactPerson"): </label>

                                        <InputTextSelector3 TItem="EntityActor"
                                                            Id="Contact"
                                                            caption="@(warehouse.ContactPerson != null ? warehouse.ContactPerson?.Name : "")"
                                                            Items="ContactList"
                                                            EventSearcherValueAndId="EventSearcherValueAndId"
                                                            EventIdSelectionAndId="SelectionMade">

                                        </InputTextSelector3>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </form>

                </CardContent>
            </SfCard>
            <div class="py-2">
                <button type="submit" class="size-btn color-btn" style="float:right" @onclick="Save"><i class="fa-regular fa-floppy-disk color-hover"></i></button>
                <button type="button" class="btn" style="float:right" @onclick="GoBack"><i class="fa-sharp fa-solid fa-circle-arrow-left"></i></button>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public bool ViewSelect { get; set; } = false;
    [Parameter]
    public string Mode { get; set; } = "Add";

    bool viewMsg = false;
    string msg = "";
    int status = 0;
    public string SearcherValueMode = "";
    public bool PopupViewAssociatedEntity = false;
    public bool PopupViewEntitiesContact = false;
    public int ParamCountResul = 0;
    public bool PopupViewEntitiesInventory = false;
    public bool PopupViewWareHouseParent = false;




    Warehouse warehouse = new Warehouse();
    List<Warehouse> warehouseList = new List<Warehouse>();


    List<EntityActor> wareHouseParentListApi = new List<EntityActor>();
    List<EntityActor> ContactList = new List<EntityActor>();
    List<TransactionalItemType> itemType = new List<TransactionalItemType>();

    InputTextSelector? refInputTextSelector;

    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
        {
            warehouse = new();
            warehouse.WareHouseParent = new();
            warehouse.AssociatedEntity = new();
            warehouse.InventoryTransactionalItemType = new();
            warehouse.WarehouseAddress = new();
            warehouse.ContactPerson = new();
        }
        else
        {
            warehouse = await warehouseService.GetWarehouseById(Id);
        }

        StateHasChanged();
    }

    public async void Save()
    {
        Address adress = warehouse.WarehouseAddress != null ? warehouse.WarehouseAddress : new();
        if (warehouse.WarehouseAddress == null) warehouse.WarehouseAddress = new();
        warehouse.WarehouseAddress.CityAddress = adress.CityAddress != null ? adress.CityAddress : new();
        var resul = await warehouseService.SaveWarehuse(warehouse);
        if (resul)
        {
            Msg("Saved", 0);
        }
        else
        {
            Msg("No saved", 1);
        }
        StateHasChanged();
    }



    public void SetViewElemnt(string Element)
    {
        ViewSelect = false;
        ClosedControlInput();
        SearcherValueMode = Element;
        if (Element == "AssociatedEntity") { PopupViewAssociatedEntity = true; }
        if (Element == "Contact") { PopupViewEntitiesContact = true; }
        if (Element == "WareHouseParent") { PopupViewWareHouseParent = true; }
        if (Element == "InventoryTransactionalItemType") { PopupViewEntitiesInventory = true; }

        StateHasChanged();
    }

    protected async void EventSearcherValueAndId((string value, string IdControl) arg)
    {
        SearcherValueMode = arg.IdControl;
        if (SearcherValueMode == "AssociatedEntity")
        {
            wareHouseParentListApi = await actorsNodeServive.GetEntityActorFaceList(arg.value);
            ParamCountResul = wareHouseParentListApi != null ? wareHouseParentListApi.Count() : 0;
        }

        if (SearcherValueMode == "Contact")
        {
            ContactList = await actorsNodeServive.GetEntityActorFaceList(arg.value);
            ParamCountResul = ContactList != null ? ContactList.Count() : 0;
        }
        if (SearcherValueMode == "WareHouseParent")
        {
            warehouseList = await warehouseService.GetWarehouseList("all");
            if (!arg.value.ToLower().Contains("todo") && !arg.value.ToLower().Contains("all")) { warehouseList = warehouseList.Where(s => s.Name != null != null && s.Name.ToLower().Contains(arg.value.ToLower())).ToList(); }

            if (warehouse.WareHouseParent == null) warehouse.WareHouseParent = new();
            ParamCountResul = warehouseList != null ? warehouseList.Count() : 0;
        }
        if (SearcherValueMode == "InventoryTransactionalItemType")
        {
            itemType = await transactionalItemsService.GetSelectorListTransactionalItemTypes();
            if (!arg.value.ToLower().Contains("todo") && !arg.value.ToLower().Contains("all")) itemType = itemType.Where(s => s.Name != null != null && s.Name.ToLower().Contains(arg.value.ToLower())).ToList();

            ParamCountResul = itemType != null ? itemType.Count() : 0;
        }


        StateHasChanged();
    }


    public void SelectionMade(Warehouse arg)
    {
        warehouse.InventoryTransactionalItemType = arg;
        StateHasChanged();
    }

    public void SelectionMade(EntityActor arg)
    {
        if (SearcherValueMode == "Contact")
        {
            warehouse.AssociatedEntity = arg;
        }
        else
        {
            warehouse.ContactPerson = arg;
        }
        StateHasChanged();
    }

    public void SelectionMade(TransactionalItemType arg)
    {
        warehouse.InventoryTransactionalItemType = arg;
        StateHasChanged();
    }









    public void ClosedControlInput()
    {
        PopupViewEntitiesContact = false;
        PopupViewAssociatedEntity = false;
        PopupViewEntitiesInventory = false;
        PopupViewWareHouseParent = false;
        ViewSelect = false;
        ParamCountResul = 0;
        StateHasChanged();
    }






    private void GoBack()
    {
        navigationManager.NavigateTo($"/WarehousesGeneral");
    }

    public void Msg(string _msg, int _status)
    {
        viewMsg = true;
        msg = _msg;
        status = _status;
    }





}