@page "/SalesDocuments/{page}"
@page "/Purchases/{page}"
@page "/SalesDocuments"
@page "/SalesDocuments/{page}/{_filterItems}"
@using SunttelTradePointB.Shared.Sales;
@using System.Globalization;
@inject SunttelTradePointB.Client.Services.SalesServices.SalesDocuments DocumentServices
@inject ContextMenuService ContextMenuService
@inject NavigationManager Navigation


<style>
    .rz-datatable-data td .rz-cell-data, .rz-grid-table td .rz-cell-data {
        font-size: 12px;
    }

    .rz-datatable-data td, .rz-grid-table td {
        padding: 3px;
    }

        .rz-datatable-data td .rz-cell-data, .rz-grid-table tr:has(:hover) {
            background-color: #1bc7b7;
            box-shadow: 0px 2px 5px;
            font-weight: bold;
        }

    .rz-state-highlight {
        background-color: #1bc7b7;
        font-weight: bold;
    }
</style>

<MessageSaveComponent isVisible="visibleMsg" message="@msg">
</MessageSaveComponent>
<PageTitleComponent Title="@namePage" IconName="@icoLogo"
                    Description="@("With this tool you can create and edit " + @namePage)">
</PageTitleComponent>

<div class="panelMenuContainer">
    <CommercialDocsGrlMenu namePage="@backPage"></CommercialDocsGrlMenu>

    <RangeDatesInput @bind-StartDate="@startingDate" @bind-EndDate="@endDate"
                     EventSearchAll="EventSearchAll"></RangeDatesInput>
</div>

<div class="panelMenuContainer aling">
    <CommercialDocsGrlMenu2 isASale="@isSale" SetVendor="SetVendor" SetDocumentTypeId="SetDocumentTypeId"></CommercialDocsGrlMenu2>
    <SearchComponent @bind-FilterTextSet="@docsFilter"></SearchComponent>
</div>

<div class="tableContainer">


    @if (isLoading)
    {

        <WaitingProcessIndicator loadingTopic="Items"></WaitingProcessIndicator>

    }
    else
    {
        if(commercialdocumentList!=null){
        <RadzenDataGrid AllowFiltering="true"
                    AllowColumnResize="true"
                    AllowAlternatingRows="true"
                    FilterMode="FilterMode.Advanced"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    AllowSorting="true"
                    PageSize="50"
                    AllowPaging="true"
                    PagerHorizontalAlign="Radzen.HorizontalAlign.Left"
                    ShowPagingSummary="true"
                    Data="@commercialdocumentList"
                    TItem="CommercialDocument"
                    ColumnWidth="100%"                    
                    SelectionMode="DataGridSelectionMode.Single"
                    LogicalFilterOperator="LogicalFilterOperator.Or"
                    @bind-Value="@selectedcommercialdocuments"
                    CellContextMenu="@ShowContextMenuCommercialDocument">
            <Columns>

                <RadzenDataGridColumn TItem="CommercialDocument" Property="DocumentType.Name" Title="@GetName(nameof(CommercialDocument.DocumentType), new CommercialDocument())" Width="148px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="BusinessLineDoc.Name" Title="@GetName(nameof(CommercialDocument.BusinessLineDoc), new CommercialDocument())" Filterable="false" Sortable="false" Width="120px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="PO" Title="@GetName(nameof(CommercialDocument.PO), new CommercialDocument())" Width="90px" Filterable="false" Sortable="false" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="Vendor.Name" Title="@GetName(nameof(CommercialDocument.Vendor), new CommercialDocument())" Width="200px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="Buyer.Name" Title="@GetName(nameof(CommercialDocument.Buyer), new CommercialDocument())" Width="200px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="SalesPerson.Name" Title="@GetName(nameof(CommercialDocument.SalesPerson), new CommercialDocument())" Width="200px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="FinanceStatusDocument.Name" Title="@GetName(nameof(CommercialDocument.DocumentType), new CommercialDocument())" Width="150px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="Carrier.Name" Title="@GetName(nameof(CommercialDocument.Carrier), new CommercialDocument())" Width="110px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="OriginDocument.DocumentType" Title="@GetName(nameof(CommercialDocument.OriginDocument), new CommercialDocument())" Width="150px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="VendorWarehouse.Name" Title="@GetName(nameof(CommercialDocument.VendorWarehouse), new CommercialDocument())" Width="200px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="BuyerWarehouse.Name" Title="@GetName(nameof(CommercialDocument.BuyerWarehouse), new CommercialDocument())" Width="200px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="FinanceSummary.TotalTaxes" TextAlign="TextAlign.Right" FormatString="{0:N2}" Title="@GetName("TotalTaxes", new FinanceSalesDocumentSummary())" Width="150px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="FinanceSummary.TotalCosts" TextAlign="TextAlign.Right" FormatString="{0:N2}" Title="@GetName("TotalCosts", new FinanceSalesDocumentSummary())" Width="150px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="FinanceSummary.TotalPaid" TextAlign="TextAlign.Right" FormatString="{0:N2}" Title="@GetName("TotalPaid", new FinanceSalesDocumentSummary())" Width="150px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="FinanceSummary.TotalAmount" TextAlign="TextAlign.Right" FormatString="{0:N2}" Title="@GetName("TotalAmount", new FinanceSalesDocumentSummary())" Width="150px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="ToInvoice" TextAlign="TextAlign.Center" Title="To Invoice" Filterable="false" Sortable="false" Width="100px">
                    <Template Context="commercialdocumentItem">
                        <RadzenCheckBox @bind-Value="commercialdocumentItem.ToInvoice" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="CommercialDocument" TextAlign="TextAlign.Center" Title="@GetName("Items", new CommercialDocument())" Filterable="false" Sortable="false" Width="50px">
                    <Template Context="commercialdocumentItem">
                        <p>@(commercialdocumentItem.Items!=null?commercialdocumentItem.Items.Count:0)</p>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="CommercialDocument" Property="Notes" Title="Notes" Filterable="false" Sortable="false" Width="200px" />
                <RadzenDataGridColumn TItem="CommercialDocument" Property="@nameof(CommercialDocument.Id)"  Title="@GetName("Id", new FinanceSalesDocumentSummary())" Width="100px" />
            </Columns>
        </RadzenDataGrid>
        <div class="container-total">
            <div class="item">
                @($"Records: {commercialdocumentList.Count}")
            </div>
            <div class="item">
                @GetName(nameof(CommercialDocument.FinanceSummary.TotalTaxes), new CommercialDocument()):<b>@SumTotal("TotalTaxes")</b>
            </div>
            <div class="item">
                @GetName(nameof(CommercialDocument.FinanceSummary.TotalAmount), new CommercialDocument()):<b>@SumTotal("TotalAmount")</b>
            </div>
            <div class="item">
                @GetName(nameof(CommercialDocument.FinanceSummary.TotalDiscounts), new CommercialDocument()):<b>@SumTotal("TotalDiscounts")</b>
            </div>
            <div class="item">
                @GetName(nameof(CommercialDocument.FinanceSummary.TotalCosts), new CommercialDocument()):<b>@SumTotal("TotalCosts")</b>
            </div>

        </div>
        }
    }
</div>

@code {

    [Parameter]
    public string _filterItems { get; set; }
    [Parameter]
    public string page { get; set; }
    List<CommercialDocument>? commercialdocumentList { get; set; }

    public CommercialDocumentType commercialDocumentType { get; set; }
    IList<CommercialDocument>? selectedcommercialdocuments;

    public Concept vendor { get; set; }

    bool isLoading = false;
    bool isSale = true;

    string namePage = ""; 
    string backPage = "";
    string icoLogo = "";
    bool  visibleMsg = false;
    string  msg = "";

    public DateTime startingDate { get; set; }
    public DateTime endDate { get; set; }

    public string docsFilter
    {
        get { return _filterItems; }
        set
        {
            _filterItems = value;
            LoadData();
        }
    }

    protected async override void OnInitialized()
    {
        ValidateUri();
        if (startingDate == DateTime.MinValue) startingDate = DateTime.Now;
        if (endDate == DateTime.MinValue) endDate = DateTime.Now.AddMonths(1);
        if (_filterItems != null) LoadData();
        base.OnInitialized();
    }


    protected override void OnParametersSet()
    {
        ValidateUri();
        StateHasChanged();
    }




    public async void LoadData()
    {
        isLoading = true;
        if (commercialDocumentType != null)
        {
            commercialdocumentList = await DocumentServices.GetCommercialDocumentList(startingDate, endDate, commercialDocumentType.Id, (_filterItems != null ? _filterItems : "all"),vendor, isSale);

        }
        else
        {
            alert("Type required");
        }
        isLoading = false;     
        StateHasChanged();
    }

    public void EventSearchAll(string value)
    {
        docsFilter = value;
    }

    public async void SetDocumentTypeId(CommercialDocumentType item)
    {

        if (item != null)
        {
            commercialDocumentType = item;
        }
        StateHasChanged();
    }

    public async void SetVendor(Concept item)
    {
        if (vendor == null) vendor = new();
        if (item != null)
        {
            vendor = item;
        }
        StateHasChanged();
    }


    void ShowContextMenuCommercialDocument(DataGridCellMouseEventArgs<CommercialDocument> args) => ContextMenuService.Open(args, ds =>
    @<RadzenMenu Click="OnMenuItemClick">
        <RadzenMenuItem Text="Edit" Value=args.Data Icon="edit"></RadzenMenuItem>
        </RadzenMenu>
    );


    void OnMenuItemClick(MenuItemEventArgs args)
    {
        CommercialDocument argObj = (CommercialDocument)args.Value;        
        Navigation.NavigateTo($"{backPage}/{page}/{argObj.Id}");
        if (!args.Value.Equals(3) && !args.Value.Equals(4))
        {
            ContextMenuService.Close();
        }
    }

    public void SetdocsFilter(string value)
    {
        docsFilter = value;
        StateHasChanged();
    }

    public string GetName(string Name, Object Obj)
    {
        if (UICommonFunctions.GetDisplayName(Obj, Name) != null) Name = UICommonFunctions.GetDisplayName(Obj, Name);
        return Name;
    }

    public string SumTotal(string name)
    {
        CultureInfo format = new CultureInfo("en-US", false);
        double value = 0;
        if (commercialdocumentList != null)
        {
            if (name == nameof(CommercialDocument.FinanceSummary.TotalTaxes)) value = commercialdocumentList.Sum(i => i.FinanceSummary.TotalTaxes);
            if (name == nameof(CommercialDocument.FinanceSummary.TotalDiscounts)) value = commercialdocumentList.Sum(i => i.FinanceSummary.TotalDiscounts);
            if (name == nameof(CommercialDocument.FinanceSummary.TotalAmount)) value = commercialdocumentList.Sum(i => i.FinanceSummary.TotalAmount);
            if (name == nameof(CommercialDocument.FinanceSummary.TotalCosts)) value = commercialdocumentList.Sum(i => i.FinanceSummary.TotalCosts);

        }

        return value.ToString("N2", format);
    }

    public void alert(string _msg)
    {
        visibleMsg = true;
        this.msg = _msg;
        StateHasChanged();
    }

    public void ValidateUri()
    {
        string Name = Navigation.Uri;
        if (Name.Contains("Purchases") || Name.Contains("ProviderCredits"))
        {
            isSale = false;
            if (Name.Contains("Purchases"))
            {
                namePage = "Purchases";
                backPage = "PurchasesItem";

                icoLogo = "PurchasesIco.png";
            };

            if (Name.Contains("ProviderCredits"))
            {
                namePage = "Provider Credits";
                backPage = "ProviderCreditsItem";
                icoLogo = "ProviderCredits.png";
            }
        }

        if (Name.Contains("SalesDocuments"))
        {
            isSale = true;
            if (Name.Contains("SalesDocuments"))
            {
                backPage = "SaleItem";
                namePage = "Sales";
                icoLogo = "commercialDocument.png";
            }

        }
        StateHasChanged();
    }
}
