@page "/Actors/{Id}/InvocingAddress"
@using Syncfusion.Blazor.Popups
@using Syncfusion.Blazor.DropDowns
@using SunttelTradePointB.Shared.Common
@using SunttelTradePointB.Client.Services.MasterTablesServices
@using SunttelTradePointB.Client.Shared.EntityShareComponents.EntitySubComponents
@using Syncfusion.Blazor.Cards

@inject IJSRuntime JSRuntime
@inject GeographicPlacesService geoPlaces
@inject ActorsNodeService actorsNodeServive;


<div class="control-section">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 container">
            <SfCard>
                <CardHeader Title="Add a new invocing address" />
                <CardContent>
                    <form onsubmit="event.preventDefault();">
                        <div class="form-group row">
                            <label class="control-label col-md-12">@lblAddresLine1: </label>
                            <div class="col">
                                <SfTooltip ID="Tooltip" Target="#addres1" Content="@ContentAddres1">
                                    <input id="addres1" type="text" class="form-control" @bind-value="@address.AddressLine1" required />
                                </SfTooltip>
                            </div>
                        </div>

                        <div class="form-group row py-2">
                            <label class="control-label col-md-12">@lblCountry: </label>
                            <div class="col">
                                <SfDropDownList TValue="string" TItem="Country" Placeholder="Select a country" AllowFiltering="true" DataSource="@countryList" @bind-Value="country1.Name">
                                    <DropDownListEvents TItem="Country" TValue="string" ValueChange="@ValueChangeCountry"></DropDownListEvents>
                                    <DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
                                </SfDropDownList>
                            </div>
                        </div>

                        @if (showRegion)
                        {
                            <div class="form-group row py-2">
                                <label class="control-label col-md-12">@lblRegion: </label>
                                <div class="col">
                                    <SfDropDownList TValue="string" TItem="GeoRegion" Placeholder="Select a region" AllowFiltering="true" DataSource="@regionsList" @bind-Value="geo.Name">
                                        <DropDownListEvents TItem="GeoRegion" TValue="string" ValueChange="@ValueChangeRegion"></DropDownListEvents>
                                        <DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
                                    </SfDropDownList>
                                </div>
                            </div>
                        }

                        @if (showCities)
                        {
                            <div class="form-group row py-2">
                                <label class="control-label col-md-12">@lblCity: </label>
                                <div class="col">
                                    <SfDropDownList TValue="string" TItem="City" Placeholder="Select a city" AllowFiltering="true" DataSource="@citiesList" @bind-Value="city.Id">
                                        <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    </SfDropDownList>
                                </div>
                            </div>
                        }

                        <div class="form-group row py-2">
                            <label class="control-label col-md-12">@lblZipCode: </label>
                            <div class="col">
                                <SfTooltip ID="Tooltip" Target="#zipCode" Content="@ContentZipCode">
                                    <input id="zipCode" type="text" class="form-control" @bind-value="@address.ZipCode" required />
                                </SfTooltip>
                            </div>
                        </div>

                        <MessageSaveComponent message="Invoicing Address Saved" isVisible="visible"></MessageSaveComponent>

                        <div class="py-2">
                            <button type="submit" class="size-btn color-btn" style="float:right" @onclick="(() => SaveInvoicingAddres(Id, entityActor))"><i class="fa-regular fa-floppy-disk color-hover"></i></button>
                            <button type="button" class="btn" style="float:right" @onclick="GoBack"><i class="fa-sharp fa-solid fa-circle-arrow-left"></i></button>
                        </div>
                    </form>

                </CardContent>
            </SfCard>
        </div>
    </div>
</div>


@code {
    private bool showRegion { get; set; } = false;

    private bool showCities { get; set; } = false;

    private string ContentName = "Put the name of the organization";

    private string ContentAddres1 = "e.g Unit 1, Apartament 201";

    private string ContentZipCode = "12345";

    public bool visible = false;

    [Parameter]
    public EventCallback<Address> saveInvocingAddress { get; set; }

    [Parameter]
    public string Id { get; set; }

    //Geographic Place Definition
    private List<Country>? countryList;

    private List<GeoRegion>? regionsList;

    private List<City>? citiesList;

    private Country? currentCountry;
    private GeoRegion? currentRegion;

    private EntityActor entityActor;

    bool loadingRegions = false;

    string _countriesFilter = "";
    string _regionsFilter = "";
    string _citiesFilter = "";

    public string lblAddresLine1 = "";
    public string lblCountry = "";
    public string lblRegion = "";
    public string lblCity = "";
    public string lblZipCode = "";

    private string userId = UIClientGlobalVariables.UserId;
    private string ipAddress = UIClientGlobalVariables.PublicIpAddress;

    Address address = new Address();
    City city = new City();
    GeoRegion geo = new GeoRegion();
    Country country1 = new Country();
    SfDialog? sfDialog;

    // Functions for Api GeoPlaces
    public string countriesFilter
    {
        get
        {
            return _countriesFilter;
        }
        set
        {
            _countriesFilter = value;
            GetFilteredCountries(_countriesFilter);
        }
    }

    public string regionsFilter
    {
        get
        {
            return _regionsFilter;
        }
        set
        {
            _regionsFilter = value;
            GetFilteredRegions(currentCountry, _regionsFilter);
        }
    }

    public string citiesFilter
    {
        get
        {
            return _citiesFilter;
        }
        set
        {
            _citiesFilter = value;
            GetFilteredCities(currentRegion, _citiesFilter);
        }
    }

    protected override async Task OnInitializedAsync()
    {
        lblAddresLine1 = UICommonFunctions.GetDisplayName(new Address(), "AddressLine1");
        lblCountry = UICommonFunctions.GetDisplayName(new Country(), "Name");
        lblRegion = UICommonFunctions.GetDisplayName(new GeoRegion(), "Name");
        lblCity = UICommonFunctions.GetDisplayName(new City(), "Name");
        lblZipCode = UICommonFunctions.GetDisplayName(new Address(), "ZipCode");
        GetEntityId(Id);
        await GetFilteredCountries();
    }

    private async Task GetFilteredCountries(string filterCountries = "")
    {
        var response = await geoPlaces.GetCountries(filterCountries);

        if (response != null)
            countryList = response.Where(c => c.Id != "000000000000000000000000").ToList();
    }


    private async Task LoadRegions(Country country)
    {

        loadingRegions = true;
        var response = await geoPlaces.GetRegions(country.Id, "", true);
        currentCountry = country;

        if (response != null)
            regionsList = response;

        loadingRegions = false;

        StateHasChanged();
    }

    private async Task GetFilteredRegions(Country country, string filterRegions = "")
    {
        regionsList = await geoPlaces.GetRegions(country.Id, filterRegions);

    }

    private async Task SetCurrentRegion(GeoRegion geoRegion)
    {
        currentRegion = geoRegion;
        citiesList = await geoPlaces.GetCities(geoRegion.Id, "", true);
        StateHasChanged();
    }

    private async Task GetFilteredCities(GeoRegion geoRegion, string filterRegions = "")
    {
        citiesList = await geoPlaces.GetCities(geoRegion.Id, filterRegions);
    }

    private void ValueChangeCountry(ChangeEventArgs<string, Country> args)
    {
        LoadRegions(args.ItemData);
        this.showRegion = true;
    }

    private void ValueChangeRegion(ChangeEventArgs<string, GeoRegion> args)
    {
        SetCurrentRegion(args.ItemData);
        this.showCities = true;
    }

    public void RefreshMe()
    {
        address = new Address();
        city = new City();
        geo = new GeoRegion();
        country1 = new Country();
        showRegion = false;
        showCities = false;
    }

    private void saveData()
    {
        address.CityAddress = city;
        address.CityAddress.RegionCity = geo;
        address.CityAddress.RegionCity.CountryRegion = country1;
        saveInvocingAddress.InvokeAsync(address);
        sfDialog.RefreshPositionAsync();
    }

    public async void GetEntityId(string entityId)
    {
        entityActor = await actorsNodeServive.GetEntityActor(userId, ipAddress, entityId);
    }

    public async void SaveInvoicingAddres(string entityId, EntityActor entityActor)
    {
        address.CityAddressRef = city.Id;
        entityActor.InvoicingAddress = address;
        await actorsNodeServive.SaveEntity(userId, ipAddress, entityId, entityActor);
        visible = true;
    }

    private void GoBack()
    {
        JSRuntime.InvokeVoidAsync("history.back");
    }

}
